{% extends "base.html" %}

{% block title %}
Welcome - Home
{% endblock %}

{% block bodyclass %}home{% endblock %}

{% block content %}
<!-- Jumbotron main -->
<div class="container">
  <div class="inner_container home-banner">
    <div class="jumbotron jumbotron-primary">
      <div class="row demo">

        <div class="col-md-6">
            <img src="static/img/banner.png" class="img-responsive center-block hidden-xs"/>
        </div>
        <div class="col-md-6">
            <div class="left-sec">
                <h1>ddd!!!!!! <br> Quality Data with <span>Datahub</span></h1>
                <p>At Datahub, we have over thousands of datasets for free and a Premium Data Service for additional or customised data with guaranteed updates.</p>

                <!-- Search -->
                <section class="similar-search hidden-xs hidden-sm">
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- searchbox -->
                            <form class="search-form form form-inline" class="input-group col-xs-12" action="/search" method="GET">
                            <div class="col-sm-8 pad-none">
                                <input type="text" class="form-control input-lg" placeholder="Search ..." name="q" required />
                            </div>
                            <div class="col-sm-4">
                                <button class="btn btn-primary" type="submit">Search Datasets</button>
                            </div>

                            </form>
                            <!-- search box ended -->
                        </div>
                    </div>
                </section>
                <!-- end of search -->


                <a class="btn btn-primary btn-orange visible-xs visible-sm" href="/search">Search Free Datasets</a>
            </div>
        </div>
      </div>
    </div>
  </div>
</div><!-- End of jumbotron main -->

<!-- three element section -->
<section class="three-elements" id="products">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="element">
                    <div class="row">
                            <div class="col-sm-3">
                                <img src="static/img/core.png" class="img-responsive  center-block" />
                            </div>
                            <div class="col-sm-8 no-pad">
                                <h4>Core Datasets</h4>
                                <p>Datahub provides important, commonly-used data as high quality, easy-to-use and open data packages.</p>
                                <a href="/collections">View Collections &rsaquo;</a>
                            </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
              <div class="element">
                    <div class="row">
                        <div class="col-sm-3">
                            <img src="static/img/request.png" class="img-responsive  center-block" />
                        </div>
                        <div class="col-sm-8 no-pad">
                            <h4>Request Data</h4>
                            <p>A service to locate and/or prepare data. There is no cost for making a request and all requests are completely confidential.</p>
                            <a href="/requests">Request Now &rsaquo;</a>
                        </div>
                    </div>
              </div>
            </div>
            <div class="col-sm-4">
                <div class="element">
                    <div class="row">
                        <div class="col-sm-3">
                                <img src="static/img/earth-globe.png" class="img-responsive  center-block" id="publish-img" />
                        </div>
                        <div class="col-sm-8 no-pad">
                            <h4>Publish Data</h4>
                            <p>Securely share and elegantly put data online with quality checks, versioning, data APIs, notifications & integrations.</p>
                            <a href="/download">Start Publishing &rsaquo;</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Core Datasets section -->

<section class="core-datasets" id="core-datasets">
  <div class="container">
      <div class="row">
          <div class="col-sm-6">
              <div class="square square-sm" onclick="window.location='/core/s-and-p-500-companies'">
                  <div class="content">
                      <h4>S&P 500 Companies</h4>
                      <p>S&P 500 Companies with Financial Information</p>
                      <a href="/core/s-and-p-500-companies">View</a>
                  </div>
              </div>
              <div class="square square-sm">
                  <div class="content">
                    <h4>Major cities of the world</h4>
                    <p>List of all the major cities in the world</p>
                    <a href="/core/world-cities">View</a>
                  </div>
              </div>
              <div class="square square-md">
                  <div class="content">
                     <img src="/static/img/co2.png" width="70" />
                     <h4>CO2 PPM</h4>
                     <p>CO2 PPM - Trends in Atmospheric Carbon Dioxide
                       <br />co2-ppm | files 7 | 300kB</p>
                     <a href="/core/co2-ppm">View Dataset</a>
                  </div>
              </div>

              <div class="square square-md move-up">
                  <div class="content">
                     <img src="/static/img/worldwide.png" width="70" />
                     <h4>Country List</h4>
                     <p>List of all countries with their 2 digit codes (ISO 3166-1)
                       <br />country-list | files 2 | 27kB</p>
                     <a href="/core/country-list">View Dataset</a>
                  </div>
              </div>
              <div class="square square-sm">
                  <div class="content">
                     <h4>ISO Language Codes</h4>
                     <p>ISO Language Codes (639-1 and 693-2) and IETF Language Types</p>
                     <a href="/core/language-codes">View</a>
                  </div>
              </div>
              <div class="square square-sm">
                  <div class="content">
                     <h4>Global Temperature</h4>
                     <p>Data are included from the GISS Surface Temperature</p>
                     <a href="/core/global-temp">View</a>
                  </div>
              </div>
              <p class="clearfix"></p>
              <br/><br/>
          </div>

          <div class="col-sm-6">
              <div class="right-box">
                  <h3 class="heading2 heading-slim">Core Datasets, data as you’d want to use it</h3>
                  <h1 class="heading1 heading-slim">Quality Data ready to Integrate</h1>
                  <ul>
                      <li>High quality data ready to inspect, download and use. <a href="/docs/core-data" class=" ">Read more &rsaquo;</a></li>
                      <li>Bulk and API access ready for automated integration with
                          SDKs in Python, JS and many more. <a href="/docs/getting-started/getting-data" class=" ">Read more &rsaquo;</a></li>
                      <li>Send a request if you need a help to find some good, quality dataset.</li>
                  </ul>
                  <a href="/core" class="btn btn-primary">Discover Datasets</a>
              </div>
          </div>
      </div>

      <!-- Table Section -->
      <div class="row">
          <div class="col-sm-12">
              <br/>
              <div class="table-section hidden-xs">
                  <div class="row">
                      <div class="col-sm-8">
                          <p class="info-1">Population Growth of Regions (e.g. Asia) and the world</p>
                      </div>
                      <div class="col-sm-4">
                          <!-- <p class="info-2">Powered by DataHub</p> -->
                      </div>
                      <br/> <br/>
                  </div>

                  <table class="table table-striped table-responsive">
                      <thead>
                        <tr>
                          <th width="30%">Country/Reigon Name</th>
                          <th width="15%">Country Code                        </th>
                          <th width="15%">Year                        </th>
                          <th width="20%">Population Growth (1Y)
                        </th>
                          <th width="20%">Population
                        </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Arab World</td>
                          <td>ARB </td>
                          <td>2016 </td>
                          <td class="color-green">+2.05%</td>
                          <td>406,452,690</td>
                        </tr>
                        <tr>
                          <td>Caribbean small states</td>
                          <td>CSS</td>
                          <td>2016</td>
                          <td class="color-green">+ 0.56% </td>
                          <td>7,245,472</td>
                        </tr>
                        <tr>
                            <td>Central Europe and the Baltics </td>
                            <td>CEB </td>
                            <td>2016</td>
                            <td class="color-red">- 0.27% </td>
                            <td>102,974,082</td>
                        </tr>
                        <tr>
                            <td>Early-demographic dividend
                            </td>
                            <td>EAR
                            </td>
                            <td>2016</td>
                            <td class="color-green">+ 1.38%</td>
                            <td>3,170,542,188
                            </td>
                        </tr>
                        <tr>
                            <td>East Asia & Pacific
                            </td>
                            <td>EAS
                            </td>
                            <td>2016</td>
                            <td class="color-green">+ 0.68% </td>
                            <td>2,296,786,207</td>
                        </tr>
                        <tr>
                            <td>Euro area
                            </td>
                            <td>EMU
                            </td>
                            <td>2016</td>
                            <td class="color-green">+ 0.40% </td>
                            <td>340,894,606</td>
                        </tr>
                        <tr>
                            <td>Europe & Central Asia
                            </td>
                            <td>ECS
                            </td>
                            <td>2016</td>
                            <td class="color-green">+ 0.50% </td>
                            <td>911,995,305
                            </td>
                        </tr>
                        <tr>
                            <td>Heavily indebted poor countries (HIPC) </td>
                            <td>HPC </td>
                            <td>2016</td>
                            <td class="color-green">+ 2.77% </td>
                            <td>744,602,976
                            </td>
                        </tr>
                        <tr>
                            <td>Latin America & the Caribbean </td>
                            <td>TLA</td>
                            <td>2016</td>
                            <td class="color-green">+ 1.08%</td>
                            <td>621,534,921
                            </td>
                        </tr>
                        <tr>
                            <td>Least developed countries: UN classification </td>
                            <td>LDC </td>
                            <td>2016</td>
                            <td class="color-green">+ 2.37% </td>
                            <td>979,387,925
                            </td>
                        </tr>
                        <tr>
                            <td>Middle East & North Africa (IDA & IBRD countries) </td>
                            <td>TMN</td>
                            <td>2016</td>
                            <td class="color-green">+ 1.69%</td>
                            <td>369,167,489
                            </td>
                        </tr>
                        <tr>
                            <td>North America</td>
                            <td>NAC </td>
                            <td>2016</td>
                            <td class="color-green">+ 0.74%</td>
                            <td>359,479,269</td>
                        </tr>
                      </tbody>
                    </table>
                    <a href="/core/population" class="pull-right">View Full Dataset &rsaquo;</a>
              </div>

          </div>
      </div>

  </div>
</section>



<!-- Request Data section -->
<section class="request-data" id="request-data">
  <div class="container">
      <div class="row">
          <div class="col-sm-4">
              <div class="left-sec">
                  <h3 class="heading2 heading-slim">Request Data from Datahub.</h3>
                  <h1 class="heading1 heading-slim">Not finding the right Data? We can get it for you.</h1>
                  <a href="/requests" class="btn btn-primary">Request Data</a>
                  <br/><br/>
              </div>
          </div>
          <div class="col-sm-8">
              <div class="col-sm-12 col-md-6">
                  <div class="card">
                      <div class="icon pull-left blue">
                          <img src="static/img/sec4-3.png" class="img-responsive"/>
                      </div>
                      <h4>100% Confidential Data</h4>
                      <p>All communication and requests are kept completly confidential.</p>
                  </div>
                  <p class="clearfix"></p>
              </div>
                  <div class="col-sm-12 col-md-6">
                      <div class="card">
                          <div class="icon pull-left red">
                              <img src="static/img/sec4-4.png" class="img-responsive"/>
                          </div>
                          <h4>Easy online Payments for Data Requests</h4>
                          <p>Affordable pricing with an easy to pay interface for your data requests.</p>
                      </div>
                  </div>

                  <div class="col-sm-12 col-md-6">
                      <div class="card">
                          <div class="icon pull-left brown">
                              <img src="static/img/sec4-2.png" class="img-responsive"/>
                          </div>
                          <h4>Fast And Time Saving For You</h4>
                          <p>Outsource your data search to our data experts.</p>
                      </div>
                      <p class="clearfix"></p>
                  </div>

                  <div class="col-sm-12 col-md-6">
                      <div class="card">
                          <div class="icon pull-left purple">
                              <img src="static/img/sec4-1.png" class="img-responsive"/>
                          </div>
                          <h4>Get Quotes From Team Datahub</h4>
                          <p>Our Team of experts provide the top quality data for the best price.</p>
                      </div>
                      <p class="clearfix"></p>
                  </div>
          </div>
      </div>
  </div>
</section>


<!-- Publish Data section -->
<section class="publish-data" id="publish-data">

  <div class="col-sm-4 padding-left-0 sm-pad-right-0">
      <div class="img-sec">
          <img src="static/img/sec3.jpg" class="img-responsive"/>
          <div class="grey-box">
              <img src="static/img/earth-globe.png" class="responsive"/>
              <p class="inner-heading">No Starting Cost</p>
              <p>Datahub Provides free plan to start publishing data without paying any upfront cost.</p>

          </div>
      </div>
  </div>
  <div class="container pad-top-0">
      <div class="col-sm-6 col-sm-offset-2">
          <div class="right-box">
              <h3 class="heading-slim margin-top-0">Data Publishing with Datahub</h3>
              <h1 class="heading-slim">Publish and Share your Data</h1>
              <p>Power and simplicity - data is the fastest way for individuals, teams and organizations to publish, deploy and share structured data.</p>
              <ul>
                  <li>Store, share and showcase your data with the world or just privately. <a href="/docs/getting-started/publishing-data">Read more &rsaquo;</a></li>
                  <li>Powerful tools to <a href="/blog/data-validation-in-the-datahub">validate</a> and  <a href="/docs/automation">automate</a></li>
                  <li>Teams and permissions to make it easy to collaborate. <a href="/docs/features/teams-and-permissions">Read more &rsaquo;</a> </li>
              </ul>
              <a href="/download" class="btn btn-primary">Start Publishing</a>
          </div>
      </div>
  </div>
</section>


<!-- section data os  -->
<section class="data-os">
  <div class="container">
      <div class="row">
          <div class="col-sm-7">
              <div class="left-sec">
                  <h3 class="heading-slim heading2">Automate your data processes with our open source framework.</h3>
                  <h1 class="heading-slim heading1">Data Factory: Open source framework <br/> for processing data.</h1>
                  <br/>
                  <a href="/data-factory" class="btn btn-primary">Explore Data Factory</a>
              </div>
          </div>
      </div>
  </div>

  <div class="artwork">
    </div>
    <div class="container">
      <div class="main">
      <div class="row">

        <div class="col-md-4 col-sm-12">
          <div class="content">
            <div class="col-xs-2">
                <div class="number text-center">
                  <span>1</span>
                </div>
            </div>
            <div class="col-xs-10 padding-right-0">
              <p>Completely open source with  professional maintenance and support.</p>
            </div>
            <br/>
          </div>
        </div>

        <div class="col-md-4 col-sm-12">
          <div class="content">
            <div class="col-xs-2">
                <div class="number text-center">
                  <span>2</span>
                </div>
            </div>
            <div class="col-xs-10 padding-right-0">
              <p>End-to-end solution with all
                parts are fully integrated.</p>
            </div>
            <br/>
          </div>
        </div>

        <div class="col-md-4 col-sm-12">
          <div class="content">
            <div class="col-xs-2">
                <div class="number text-center">
                  <span>3</span>
                </div>
            </div>
            <div class="col-xs-10 padding-right-0">
              <p>Not just tools but a standardized approach and
                pattern for working with your data.</p>
            </div>
            <br/>
          </div>
        </div>
        </div>
      </div>
    </div>



 <!-- <div class="dotted-area">
      <img src="/static/img/dotted-1.png" id="dotted-1"/>
      <img src="/static/img/dotted-2.png" id="dotted-2"/>
      <img src="/static/img/dotted-3.png" id="dotted-3"/>
      <img src="/static/img/dotted-4.png" id="dotted-4"/>
  </div> -->

</section>
<p class="clearfix">

</p>

<!-- section 7 -->
<section class="our-clients">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">

                    <h1 class="heading1">Our Clients</h1>
                    <p>We have partnered with clients ranging from major companies to international organiztaions, non-profits and startups.</p>
            </div>
        </div>
        <div class="row">
            <div class="upper-row">
                    <div class="col-sm-6 col-md-3">
                        <img src="static/img/world-bank.png" class=" img1 center-block" />
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <img src="static/img/black-swan.png" class="img2 center-block" />
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <img src="static/img/un.png" class="img3 center-block" />
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <img src="static/img/oxford.png" class="img4 center-block" />
                    </div>
            </div>

        </div>

        <div class="row">
            <div class="lower-row">
                <ul>
                    <li><img src="static/img/amnesty.png"/></li>
                    <li><img src="static/img/cyber-green.png"/></li>
                    <li><img src="static/img/brave.png"/></li>
                    <li><img src="static/img/data-gov.png"/></li>
                    <li><img src="static/img/hm.png"/></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- section 6 -->
<section class="hire-us">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="left-sec">
                    <h3 class="heading2">Team with excellence and beyond.</h3>
                    <h1 class="heading1">Hire us to build and improve your data-driven project.</h1>
                    <p>We have decades of experience building data systems for clients large and small. Our team of talented developers
and managers can help you to design, build or enhance your data project.</p>
                    <a class="btn btn-primary" href="/hire-us">Hire Team Datahub</a>
                    <br/><br/><br/>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="right-sec">
                    <div class="row">
                        <div class="list">
                            <div class="col-sm-10 padding-left-0">
                                <h5><img src="static/img/tick.png"/> Automation</h5>
                                <p>Automate data collection, integration and presentation</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="list">
                            <div class="col-sm-10 padding-left-0">
                                <h5><img src="static/img/tick.png"/> Scraping</h5>
                                <p>Scrape, clean and normalize data</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="list">
                            <div class="col-sm-10 padding-left-0">
                                <h5><img src="static/img/tick.png"/> Informative Visuals</h5>
                                <p>Build dashboards and visualizations</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="list">
                            <div class="col-sm-10 padding-left-0">
                                <h5><img src="static/img/tick.png"/> Manage</h5>
                                <p>Scrape, clean and normalize data</p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="list">
                            <div class="col-sm-10 padding-left-0">
                                <h5><img src="static/img/tick.png"/> Data Portals</h5>
                                <p>Build data portals and platforms whether bespoke or using products like CKAN (our CEO designed and built CKAN)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
