<section class="mb-6 md:pr-10">
  <h2 class="bg-gray-100 px-4 py-3 border-t border-gray-100 font-bold">Filter name</h2>
  <ul>
    <li class="border-t border-gray-100">
      <button class="filter-button" aria-label="Item one (8 results)">
        Item one
        <span class="filter-button_count">8</span>
      </button>
    </li>
    <li class="border-t border-gray-100">
      <button class="filter-button" aria-label="Item two (8 results)" aria-pressed="true">
        Item two
        <span class="filter-button_count">8</span>
      </button>
    </li>
    <li class="border-t border-gray-100">
      <button class="filter-button" aria-label="Item three (8 results)">
        Item three
        <span class="filter-button_count">8</span>
      </button>
    </li>
    <li class="border-t border-gray-100">
      <button class="filter-button" aria-label="Item four (8 results)">
        Item four
        <span class="filter-button_count">8</span>
      </button>
    </li>
  </ul>
</section>
