PLUGINS=
NODE_ENV=
THEME=
TRANSLATIONS=
API_URL=http://127.0.0.1:5000/api/3/action/
WP_URL=http://127.0.0.1:6000
WP_BLOG_PATH=
WP_TOKEN=
WP_TIMEOUT=

# Change that in production!
SESSION_SECRET="keyboard cat"
# In milliseconds. Session never expires if not set.
SESSION_COOKIE_MAX_AGE=""

# Configure log level
LOG_LEVEL=info

# Redis url for session store 
REDIS_URL=

GA_ID=
CKAN_PAGES_URL=
GIT_BASE_URL=
GIT_OWNER=

CARTO_USER=
CARTO_APIKEY=

SMTP_SERVICE=
SMTP_HOST=
SMTP_PORT=
EMAIL_FROM=
EMAIL_PASSWORD=
EMAIL_TO=

# Proxy datastore and/or filestore
PROXY_DATASTORE=datastore.domain.com
PROXY_FILESTORE=filestore.domain.com

# Set to true to enable user account management
# Requires custom `user_login` CKAN Classic endpoint
USER_ACCOUNTS_ENABLED=false
