PLUGINS="example wp"
WP_TOKEN=
NODE_ENV=development
THEME=example
TRANSLATIONS=
API_URL=http://127.0.0.1:5000/api/3/action/
WP_URL=http://127.0.0.1:6000

GA_ID=
CKAN_PAGES_URL=
GIT_BASE_URL=
GIT_OWNER=

EMAIL_SERVICE=
EMAIL_FROM=
EMAIL_PASSWORD=
EMAIL_TO=
