{% extends "base.html" %}
{% import '_snippets.html' as snippets %}

{% block title %}
{{title}}
{% endblock %}

{% block bodyclass %}search{% endblock %}

{% block content %}
<div class="container">
  <div class="inner_container">
    <div class="row">

      <div class="col-sm-3 profile">
        <div class="row">
          <div class="col-sm-12 col-xs-6">
            <img src="{{avatar}}" class="img-responsive">
          </div>
          <div class="col-sm-12 col-xs-6">
            {% if owner %}
              <h2 class="owner">{{ owner }}</h2>
            {% endif %}
            {% if name %}
              <p class="name">{{ name }}</p>
            {% endif %}
            {% if joinDate %}
              <p class="join-date">Since {{ joinDate }}</p>
            {% endif %}
          </div>
        </div>
      </div>

      <div class="col-sm-offset-1 col-sm-8">
        <div class="row">
          <div class="col-sm-6 col-xs-12">
            <h2 class="owner-page-title">Datasets <span class="badge" title="{{result.count}} published datasets">{{result.count}}</span></h2>
          </div>
          <div class="col-sm-6">
            <form class="search-form form form-inline" class="input-group col-xs-12" action="/{{ owner }}" method="GET">
              <input type="text" class="form-control" placeholder="Search..." name="q" value="{{ query.q }}" required autofocus/>
            </form>
          </div>
        </div>

        <div id="publisher-package-list">

          {% if result.count > 0 %}
            <section class="search-page">
              <section class="results">
                {{ snippets.package_list_show(result.results) }}
              </section>
            </section>
            <!-- Pagination -->
            {% if result.count > 10 %}
              <nav aria-label="Datasets">
                <ul class="pagination">
                  <li class="page-item">
                    <a class="page-link" href="/{{ owner }}?{{ query.q }}&page=1" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                  {% for page in pages %}
                    {% if page == '...' %}
                    <li class="page-item disabled"><span class="page-link">{{page}}</span></li>
                    {% else %}
                    <li class="page-item {{ 'current-page' if currentPage == page }}"><a class="page-link" href="/search?q={{ query.q }}&page={{ page }}">{{page}}</a></li>
                    {% endif %}
                  {% endfor %}
                  <li class="page-item">
                    <a class="page-link" href="/{{ owner }}?{{ query.q }}&page={{ totalPages }}" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                </ul>
              </nav>
            {% endif %}
            <!-- end of pagination -->
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
