{% extends "base.html" %}
{% import '_snippets.html' as snippets %}

{% block title %}
{{ title }}
{% endblock %}

{% block bodyclass %}search{% endblock %}

{% block content %}
<section class="search-page">
  <div class="container">
    <div class="inner-container">
      <section class="heading">
          <div class="row">
            <div class="col-sm-1">
              <img src="/static/img/find-data.png" class="section-logo">
            </div>
            <div class="col-sm-9">
              <h1>Search for datasets</h1>
              <p>There are thousands of datasets from financial market data and population growth to cryptocurrency prices. If you don’t find what you are looking for <a href="/requests">ask the Data Concierge</a> for a free quote for us to find you the data. </p>
            </div>
          </div>
      </section>

      <div class="col-sm-8 pad-left-zero pad-right-zero">
          <!-- Form -->
          <section class="search-section">
              <div class="row">
                <form class="search-form form form-inline" class="input-group col-xs-12" action="/search" method="GET">
                  <div class="col-sm-9">
                    <input type="text" class="form-control input-lg" placeholder="Search ..." name="q" value="{{ query.q }}" autofocus/>
                  </div>
                  <div class="col-sm-3">
                    <button class="btn btn-primary" type="submit">Search</button>
                  </div>

                </form>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <h4 class="search-summary">
                    {{ result.count }} datasets found
                  </h4>
                </div>
              </div>
          </section>
          <!-- End of Form -->

          <!-- Results -->
          <section class="results">
            {{ snippets.package_list_show(result.results) }}
          </section>

          <!-- Pagination -->
          {% if result.count > 10 %}
            {{ snippets.pagination(query.q, pages, result, 'search') }}
          {% endif %}
          <!-- end of pagination -->
      </div>

    </div>
  </div>
</section>
{% endblock %}
