{% extends "base.html" %}
{% import '_snippets.html' as snippets %}

{% block title %}
{{ title }}
{% endblock %}

{% block bodyclass %}search{% endblock %}

{% block content %}
<section class="search-page">
  <div class="container">
    <div class="inner-container">
      <section class="heading">
          <div class="row">
            <div class="col-sm-1">
              <img src="/static/img/find-data.png" class="section-logo">
            </div>
            <div class="col-sm-9">
              <h1>Search for datasets</h1>
              <p>There are thousands of datasets from financial market data and population growth to cryptocurrency prices. If you don’t find what you are looking for <a href="/requests">ask the Data Concierge</a> for a free quote for us to find you the data. </p>
            </div>
          </div>
      </section>

      <div class="col-sm-8 pad-left-zero pad-right-zero">
          <!-- Form -->
          <section class="search-section">
              <div class="row">
                <form class="search-form form form-inline" class="input-group col-xs-12" action="/search" method="GET">
                  <div class="col-sm-9">
                    <input type="text" class="form-control input-lg" placeholder="Search ..." name="q" value="{{ query }}" required autofocus/>
                  </div>
                  <div class="col-sm-3">
                    <button class="btn btn-primary" type="submit">Search</button>
                  </div>

                </form>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <h4 class="search-summary">
                    {{ result.count }} datasets found
                  </h4>
                </div>
              </div>
          </section>
          <!-- End of Form -->

          <!-- Results -->
          <section class="results">
            {{ snippets.package_list_show(packages) }}
          </section>

          <!-- Pagination -->
          {% if result.count > 10 %}
            <nav aria-label="Datasets" class="text-center">
              <ul class="pagination">
                <li class="page-item">
                  <a class="page-link" href="/search?q={{ query }}&page=1" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                {% for page in pages %}
                  {% if page == '...' %}
                  <li class="page-item disabled"><span class="page-link">{{page}}</span></li>
                  {% else %}
                  <li class="page-item {{ 'current-page' if currentPage == page }}"><a class="page-link" href="/search?q={{ query }}&page={{ page }}">{{page}}</a></li>
                  {% endif %}
                {% endfor %}
                <li class="page-item">
                  <a class="page-link" href="/search?q={{ query }}&page={{ totalPages }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
              </ul>
            </nav>
          {% endif %}
          <!-- end of pagination -->
      </div>

    </div>
  </div>
</section>
{% endblock %}
