{% extends "base.html" %}
{% import '_snippets.html' as snippets %}
{% import '_instructions.html' as instructions %}

{% block title %}
{{dataset.title or dataset.name}} - Dataset
{% endblock %}

{% block content %}

<!-- showcase page test placeholder -->
<!-- title and owner info -->
<div role="main">
  <div class="container showcase">
    <div class="inner_container">

      <div class="showcase-page-header">
        <h1>
          {{ dataset.title or dataset.name }}
        </h1>

        <p class="clearfix"></p>

        <p class="publisher">
          <img src="https://www.gravatar.com/avatar/none?d=https%3A%2F%2Ftesting.datahub.io%2Fstatic%2Fimg%2Flogo-cube03.png" class="img-responsive img-circle avatar" />
          <a href="/{{ owner.name }}">{{ owner.title }}</a>
        </p>
      </div>
    </div>
  </div><!-- end of title and owner info -->

  <div class="container-no-top-padding">
    <div class="inner_container">
      <div class="dataset show">
        <!-- info about data package -->
        <div>
          <table class="table info no-left-padding">
            <thead>
              <tr>
                <th>Files</th>
                <th>Size</th>
                <th>Format</th>
                <th>Created</th>
                <th>Updated</th>
                <th>License</th>
                <th>Source</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="col-xs-1">{{ dataset.resources | length }}</td>
                <td class="col-xs-1">{{ size or 'N\A' }}</td>
                <td class="col-xs-2 format-list">
                  {% for format in dataset.formats %}
                    {{ format }}
                  {% endfor %}
                </td>
                <td class="col-xs-2">{{ dataset.created | formatDate }}</td>
                <td class="col-xs-2">{{ dataset.modified | formatDateFromNow }}</td>
                <td class="col-xs-2">
                  {% if dataset.license %}
                    <i class="fas fa-gavel"></i> {{snippets.listify([dataset.license])}}
                  {% endif %}
                </td>
                <td class="col-xs-2">
                  {% if dataset.sources %}
                    <i class="fas fa-external-link-square-alt"></i> {{snippets.listify(dataset.sources)}}
                  {% endif %}
                </td>
              </tr>
            </tbody>

          </table>

        </div>

        <!-- short readme -->
        {% if dataset.readmeSnippet %}
          <div class="readme-snippet readable-width">{{dataset.readmeSnippet}} <a href="#readme" onclick="scrollDown(this)">read more</a></div>
        {% elif dataset.readmeHtml %}
          <div class="readme-snippet readable-width">{{dataset.readmeHtml|safe}}</div>
        {% elif dataset.descriptionHtml %}
          <div class="readme-snippet readable-width">{{dataset.descriptionHtml|safe}}</div>
        {% endif %}

        <!-- download button -->
        <a href="#data" class="btn btn-lg btn-primary" onclick="scrollDown(this)">Download</a>
        <!-- developers button -->
        <a href="#data-cli" class="btn btn-lg btn-default" onclick="scrollDown(this)">Developers</a>

        <!-- views -->
        <div class="react-me part" data-type="data-views" id="next-section"></div>

        <!-- data files (downloads) table -->
        {% include "./partials/resource-summary.njk" %}

        <!-- preview + field information -->
        {% include "./partials/resource-display.njk" %}

      </div>
    </div>
  </div>

  <!-- import into your tool section -->
  <div class="section-gray">
    <div class="container">
      <div class="inner_container">
        <div class="dataset show">
          <h2 class="section-title">Integrate this dataset into your favourite tool</h2>
          <ul class="nav nav-pills">
            <li class="active"><a data-toggle="pill" href="#data-cli">data-cli</a></li>
            <li><a data-toggle="pill" href="#curl">cURL</a></li>
            <li><a data-toggle="pill" href="#r">R</a></li>
            <li><a data-toggle="pill" href="#pandas">Pandas</a></li>
            <li><a data-toggle="pill" href="#python">Python</a></li>
            <li><a data-toggle="pill" href="#javascript">JavaScript</a></li>
          </ul>
          <!-- content for instructions -->
          <div class="tab-content">

            <div id="data-cli" class="tab-pane fade in active">
              <div class="part">
                {{instructions.data_cli(dataset)}}
              </div>
            </div>

            <div id="curl" class="tab-pane fade">
              <div class="part">
                {{instructions.curl(dataset)}}
              </div>
            </div>

            <div id="r" class="tab-pane fade">
              <div class="part">
                {{instructions.r(dataset)}}
              </div>
            </div>

            <div id="pandas" class="tab-pane fade">
              <div class="part">
                {{instructions.pandas(dataset)}}
              </div>
            </div>

            <div id="python" class="tab-pane fade">
              <div class="part">
                {{instructions.python(dataset)}}
              </div>
            </div>

            <div id="javascript" class="tab-pane fade">
              <div class="part">
                {{instructions.javascript(dataset)}}
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div><!-- end of import into your tool section -->

  <!-- readme section -->
  {% if dataset.readmeSnippet or dataset.readmeHtml %}
  <div class="container">
    <div class="inner_container">
      <div class="dataset show">
        <h2 id="readme" class="section-title">Read me</h2>
        <div class="readme part readable-width">{{dataset.readmeHtml|safe}}</div>
      </div>
    </div>
  </div>
  {% elif dataset.descriptionHtml %}
  <div class="container">
    <div class="inner_container">
      <div class="dataset show">
        <h2 id="readme" class="section-title">Read me</h2>
        <div class="readme part readable-width">{{dataset.descriptionHtml|safe}}</div>
      </div>
    </div>
  </div>
  {% endif %}<!-- end of readme section -->


  <!-- Link to datapackage.json - putting here to be hidden for now -->
  <div class="container">
    <div class="inner_container">
      <a href="/{{ owner.name }}/{{ dataset.name }}/datapackage.json" class="btn btn-default" style="margin-top:-80px">Datapackage.json</a>
    </div>
  </div><!-- end of link to datapackage.json -->

</div>

<div class="react-me-datapackage-views" data-datapackage-json='{{ dpId | safe }}'></div>
{% endblock %}



{% block scripts %}
<!-- script for tabs to work as anchors (used for instructions in showcase page) -->
<script>
  jQuery("ul.nav-pills > li > a").on("shown.bs.tab", function (e) {
     scrollposition = jQuery(document).scrollTop();
     var id = jQuery(e.target).attr("href").substr(1);
     window.location.hash = id;
     jQuery(document).scrollTop(scrollposition);
  });
  var hash = window.location.hash;
  jQuery('.nav.nav-pills a[href="' + hash + '"]').tab('show', function() {
      jQuery(document).scrollTop();
  });


  //Slide out function for showcase
  $(window).on('load', function() {
    $("#showcase-offer").animate({
      bottom:0
    },1000);
   });

   function goToSearch() {
    var query = document.getElementById('search-input').value;
    window.location.href = '/search?q=' + query;
  }

  function sendGAEvent(datasetName, resourceName, resourceFormat) {
      gtag('event', "download", {
          'event_category': datasetName,
          'event_label': resourceName,
          'value':resourceFormat,
          'non_interaction': true
      });
  }
</script>

<!-- JSON-LD script for google dataset search indexing  -->
<script>
    const script = document.createElement('script');
    script.setAttribute('type', 'application/ld+json');
    script.textContent = {{ jsonld | dump | safe }};
    document.head.appendChild(script);
</script>

<script type="text/javascript" src="https://rawcdn.githack.com/datopian/datapackage-views-js/681e1ff21a0daee03e8e81ad0ddc7c8bf682aee9/dist/js/main.js"></script>

{% endblock %}
