<!-- Form -->
<form action="/search" method="GET">
  <div class="relative mb-10">
    <input type="text" class="border-2 border-solid border-gray-200 py-4 pl-4 pr-20 text-xl outline-none focus:border-secondary w-full" placeholder="Search datasets" name="q" value="{{ query.q }}" autofocus>

    <button class="absolute inset-y-0 right-0 w-16 px-4 text-secondary fill-current" type="submit" aria-label="Submit">
      <svg class="w-full h-full"><use xlink:href="#search" /></svg>
    </button>
  </div>

  <div class="lg:flex items-center justify-between">
    <h1 class="text-4xl font-semibold text-primary">{{ result.count }} datasets found</h1>

    <div>
      <label for="field-order-by">Order by:</label>
      <select class="bg-white" id="field-order-by" name="sort">
        <option value="score:desc" {% if query.sort == "score:desc" %}selected="selected"{% endif %}>Relevance</option>
        <option value="title_string:asc" {% if query.sort == "title_string:asc" %}selected="selected"{% endif %}>Name Ascending</option>
        <option value="title_string:desc" {% if query.sort == "title_string:desc" %}selected="selected"{% endif %}>Name Descending</option>
        <option value="metadata_modified:desc" {% if query.sort == "metadata_modified:desc" %}selected="selected"{% endif %}>Last Modified</option>
        <option value="views_recent:desc" {% if query.sort == "views_recent:desc" %}selected="selected"{% endif %}>Popular</option>
      </select>
    </div>
  </div>


  <p class="mt-5">
    <span class="py-2 mr-1">Organizations:</span>

    <span class="bg-secondary text-white px-3 py-1 mx-1 fill-current inline-flex items-center">Item two
      <a href="#" class="ml-3 text-white" aria-label="Remove">
        <svg class="w-3 h-3"><use xlink:href="#cross" /></svg>
      </a>
    </span>
  </p>
</form>
<!-- End of Form -->
