<!-- Pagination -->
{% if result.count > 10 %}
  <nav aria-label="Datasets" class="mt-gutter pt-gutter text-sm">
    <ul class="inline-flex border border-gray-200">
      <li class="border border-gray-200">
        {% if currentPage == 1 %}
          {% set from = 0 %}
        {% else %}
          {% set from = (currentPage - 2) * 10 %}
        {% endif %}
        <a class="block px-3 py-2 hover:text-white hover:bg-secondary" href="/search?q={{ query.q }}&from={{ from }}" aria-label="Previous">
          <span class="">Previous</span>
        </a>
      </li>
      {% for page in pages %}
        {% if page == '...' %}
        <li class="border border-gray-200">
          <span class="block px-3 py-2">{{page}}</span>
        </li>
        {% else %}
        <li class="border border-gray-200">
          <a class="block px-3 py-2 {{ 'text-white bg-secondary secondary-nav_link' if currentPage == page }}" href="/search?q={{ query.q }}&from={{ (page - 1) * 10 }}">{{page}}</a>
        </li>
        {% endif %}
      {% endfor %}
      <li class="border border-gray-200">
        <a class="block px-3 py-2 hover:text-white hover:bg-secondary" href="/search?q={{ query.q }}&from={{ currentPage * 10 }}" aria-label="Next">
          <span class="">Next</span>
        </a>
      </li>
    </ul>
  </nav>
{% endif %}
<!-- end of pagination -->
