{% set facetNames = {
  organization: 'Organisationer',
  groups: 'Grupper',
  tags: 'Tags',
  res_format: 'Format',
  license_id: 'Licens'
} %}

{% for facetId, value in result.search_facets %}
<section class="mb-6 md:pr-10">
  <h2 class="bg-gray-200 px-4 py-3 border-t border-gray-200 font-bold">{{ facetNames[facetId] }}</h2>
  <ul>
    {% for item in value.items|sort(true, false, 'count') %}
    <li class="border-t border-gray-200">
      <a href="/search?q={{ facetId }}:{{ item.name }} {{ query.q }}" class="filter-button hover:text-secondary" aria-label="{{ item.display_name }} ({{ item.count }} results)">
        {{ item.display_name }}
        <span class="filter-button_count">{{ item.count }}</span>
      </a>
    </li>
    {% endfor %}
    {# Link for showing more items from this face #}
    {% if value.items | length > 4 %}
    <li class="border-t border-gray-200">
      <a href="/search?facet.limit.{{facetId}}=-1&q={{ query.q }}" class="filter-button text-secondary hover:underline">
        {{__('Show more')}}
      </a>
    </li>
    {% endif %}
  </ul>
</section>
{% endfor %}
