.data-file-type {
  @apply bg-gray-500 text-white px-3 py-1 mr-3 mt-3;
  display: inline-block;
}

.data-file-type_inner {
  display: flex;
  align-items: center;
}

.data-file-type_term {
  @apply font-semibold text-sm;
}

.data-file-type_size {
  @apply text-xs;
  margin-left: 0.5em;

  &::before {
    content: '(';
  }
  &::after {
    content: ')';
  }
}
