@screen md {
  .featured-groups {
    @apply flex;
  }
}
@screen lg {
  .featured-groups {
    @apply w-2/3;
  }
}

.featured-groups_item {
  @apply mb-gutter;
}
@screen md {
  .featured-groups_item {
    @apply w-1/4 mr-gutter;
  }
}

.featured-groups_link {
  @apply flex h-full items-center bg-secondary text-white;
}
@screen md {
  .featured-groups_link {
    @apply flex-col items-start text-primary;
    background-color: transparent;
  }
}

.featured-groups_icon {
  @apply bg-secondary flex justify-center p-3;
  width: 64px;
  height: 64px;
}
@screen md {
  .featured-groups_icon {
    @apply p-6;
    width: 110px;
    height: 110px;
  }
}

.featured-groups_img {
  /* needed for IE11 */
  width: 100%;
  height: 100%;
}

.featured-groups_name {
  text-transform: uppercase;
  @apply font-semibold text-lg;
}
@screen md {
  .featured-groups_name {
    max-width: 110px;
    @apply mt-4;
  }
}
