.filter-button {
  @apply flex px-4 py-2 justify-between items-center w-full text-primary;
  position: relative;

  &[aria-pressed="true"] {
    @apply bg-secondary text-white;
  }
}

.filter-button_count {
  @apply bg-gray-200 text-sm text-gray-500 px-1 ml-2;

  @nest [aria-pressed="true"] & {
    @apply bg-white text-secondary;
  }
}

@media (max-width: 767px) {
  .search-filters[data-expanded="false"] {
    display: none;
  }
}

@screen lg {
  .filter-button[aria-pressed="true"] {
    &::before {
      content: '';
      position: absolute;
      width: 2em;
      right: 100%;
      top: 0;
      bottom: 0;
      background-image: url("../img/tab-mask.svg");
      background-repeat: no-repeat;
      background-size: auto 100%;
      background-position: -1.25em;
      @apply bg-secondary;
    }
  }
}
