@screen lg {
  .home {
    background-image: url("../img/home-bg.svg");
    background-repeat: no-repeat;
    background-position: right 8rem;
    background-size: 40vw auto;
  }
}

.home_h1 {
  @apply font-semibold text-4xl leading-tight;
}
@screen md {
  .home_h1 {
    margin-top: 6vh;
    margin-bottom: 6vh;
  }
}
@screen lg {
  .home_h1 {
    font-size: 80px;
    @apply w-2/3;
  }
}

@screen xl {
  .home_h1 {
    font-size: 94px;
  }
}

.home_search {
  position: relative;
  height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.home_articles {
  @apply py-gutter;
}


.home_events {
  @apply bg-gray-100 py-10;
  position: relative;

  &::before,
  &::after {
    content: '';
    @apply bg-gray-100 w-gutter;
    position: absolute;
    top: 0;
    bottom: 0;
  }

  &::before {
    right: 100%;
  }

  &::after {
    left: 100%;
  }

  & .tns-item:not(.tns-slide-active) {
    /* prevent 1px of next item */
    position: relative;
    left: 1px;
  }

  & .tns-nav {
    position: absolute;
    bottom: 0.5rem;

    & > [aria-controls] {
      width: 10px;
      height: 10px;
      margin-right: 8px;
      @apply bg-gray-500;

      &.tns-nav-active {
        @apply bg-secondary;
      }
    }
  }
}

@screen lg {
  .home_events {
    height: 10rem;
    display: flex;
    align-items: center;

    &::before {
      width: 100vw;
    }

    &::after {
      left: 100%;
      width: 10rem;
      background-image: url("../img/tab-mask.svg");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position: 5rem top;
    }
  }
}


.home_feed {
  column-gap: 3rem;
}

@screen md {
  .home_feed {
    columns: 2;
  }
}

@screen lg {
  .home_feed {
    columns: 3;
  }
}
