.main-nav_link {
  @apply block py-2 px-gutter font-semibold text-primary border-white;

  &[aria-current] {
    @apply border-primary;
  }

  @nest .main-nav_subnav & {
    border: none;
    @apply text-base font-normal;
  }
}

@screen lg {
  .main-nav_link {
    @apply border-b-4 py-1 px-0 flex items-center;
  }
}

@media (max-width: 1023px) {
  .main-nav {
    &[data-expanded] {
      position: absolute;
      @apply shadow;
    }
    &[data-expanded="false"] {
      display: none;
    }
  }
}

@screen lg {
  .main-nav_subnav {
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease 0.2s;
    pointer-events: none;
    @apply bg-white shadow px-3 py-2;
  }

  .main-nav_item:hover > ul,
  .main-nav_item:focus-within > ul,
  .main-nav_item ul:hover,
  .main-nav_item ul:focus {
     opacity: 1;
     pointer-events: all;
  }
}

.main-nav_search-toggle {
  display: none;
}
@screen lg {
  .main-nav_search-toggle {
    display: block;
  }
  .main-nav_search-toggle-icon {
    @apply fill-current;

    &[data-toggle="show"] {
      display: block;

      @nest [aria-expanded="true"] & {
        display: none;
      }
    }

    &[data-toggle="hide"] {
      display: none;

      @nest [aria-expanded="true"] & {
        display: block;
      }
    }
  }

  .main-nav_search {
    display: none;

    &[data-expanded="true"] {
      display: block;
    }
  }
}
