.secondary-nav_link {
  @apply text-primary block py-2;
  position: relative;

  &[aria-current] {
    @apply bg-secondary text-white pr-3;

    &::before {
      content: '';
      position: absolute;
      width: 2em;
      right: 100%;
      top: 0;
      bottom: 0;
      @apply bg-secondary border-r-8 border-secondary;
    }
  }
}

@screen lg {
  .secondary-nav_link[aria-current] {
    &::before {
      background-image: url("../img/tab-mask-left.svg");
      background-repeat: no-repeat;
      background-size: auto 100%;
      background-position: right center;
    }
  }
}
