@import "fonts";

@import "tailwindcss/base";

/* more base styles */
@import "elements";

@import "tailwindcss/components";

/* extracted components */
@import "components/main-nav";
@import "components/breadcrumb";
@import "components/filter";
@import "components/site-footer";
@import "components/featured-groups";
@import "components/article-preview";
@import "components/twitter-feed";
@import "components/home";
@import "components/data-file-type";
@import "components/resource";
@import "components/info-list";
@import "components/resource-preview";
@import "components/tabs";

@import "tailwindcss/utilities";

/* code highlighting */
@import "codehilite.css";
