body {
  @apply text-gray-900 font-sans;
}

p {
  @nest .site-footer &:not(:last-child) {
    @apply mb-4;
  }

  @nest .content & {
    @apply leading-relaxed my-6;
  }
}

svg {
  @nest .site-footer & {
    @apply fill-current;
  }
}

a {
  @apply text-secondary;
}

h1, h2, h3, h4, h5, h6 {
  @nest .content & {
    @apply font-semibold;

    &:not(:first-child) {
      margin-top: 2em;
    }
  }
}

h1 {
  @nest .content & {
    @apply text-3xl;
  }
}

h2 {
  @nest .content & {
    @apply text-2xl;
  }
}

h3 {
  @nest .content & {
    @apply text-xl;
  }
}

h4 {
  @nest .content & {
    @apply text-lg;
  }
}

ul,
ol {
  @nest .content & {
    @apply my-5 pl-10;
  }
}

ul {
  @nest .content & {
    @apply list-disc;
  }
}

ol {
  @nest .content & {
    @apply list-decimal;
  }
}

li {
  @nest .content & {
    @apply my-1;
  }
}
