{% import '_instructions.html' as instructions %}

{% macro listify(list_) -%}
  {% for item in list_ or [] %}
    {% if item.path or item.url or item.web %}
    <a href="{{item.path or item.url or item.web}}" class="text-secondary" title="{{item.title or item.email}}" target="_blank">
      {{item.type or item.title or item.name}}
    </a>
    {% elif item.email %}
    <a href="mailto:{{item.email}}" class="text-secondary" title="{{item.title or item.email}}" target="_blank">
      {{item.title or item.name or item.email}}
    </a>
    {% else %}
    <span title="{{item.type or item.email}}">{{item.title or item.name}}</span>
    {% endif %}
  {% endfor %}
{%- endmacro %}

{% macro package_list_show(packages) -%}
  <div class="package-summary-list">
    {% for package in packages  %}
      <div class="row">
        <div class="col-sm-12 pad-xs-left-zero pad-xs-right-zero ">
            <div class="square">
              <div class="content">
                <div class="row">
                  <div class="col-sm-8 pad-xs-left-zero pad-xs-right-zero">
                    <a href="/{{ package.organization.name or 'dataset' }}/{{ package.name }}"><h3>{{ package.title or package.name }}</h3></a>
                  </div>
                  <div class="col-sm-4 pad-xs-left-zero pad-xs-right-zero">
                    <span class="pull-right">
                      updated {{ package.metadata_modified.slice(0, 10) }}
                    </span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-4 pad-xs-left-zero pad-xs-right-zero">
                    <span>{{ package.name }}</span>
                  </div>
                  <div class="col-sm-8 pad-xs-left-zero pad-xs-right-zero">
                    <ul class="pull-right">
                      <li>
                          <img src="/static/img/logo-cube03.png" class="img-responsive img-circle avatar" />
                          <a href="/{{ package.organization.name or 'dataset' }}"><span>{{ package.organization.name or 'dataset' }}</span></a>
                      </li>
                      <li><img src="/static/img/folder.png" class="img-icons"/><span>Files {{ package.resources|length }}</span></li>
                      <li><img src="/static/img/hard-disk.png" class="img-icons"/><span>N/A</span></li>
                    </ul>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 pad-xs-left-zero pad-xs-right-zero">
                      {% if package.readmeSnippet %}
                      <p class="readme">
                        {{ package.readmeSnippet }}
                        <a href="/{{ package.organization.name or 'dataset' }}/{{ package.name }}">
                          Explore Dataset <span>&rsaquo;</span>
                        </a>
                      </p>
                      {% elif package.readmeHtml %}
                      <p class="readme">
                        {{ package.readmeHtml|safe }}
                        <a href="/{{ package.organization.name or 'dataset' }}/{{ package.name }}">
                          Explore Dataset <span>&rsaquo;</span>
                        </a>
                      </p>
                      {% elif package.description %}
                      <p class="readme">
                        {% if package.description|length > 200 %}
                          {{ package.description|truncate(200) }}
                        {% else %}
                          {{ package.description }}
                        {% endif %}
                        <a href="/{{ package.organization.name or 'dataset' }}/{{ package.name }}">
                          Explore Dataset <span>&rsaquo;</span>
                        </a>
                      </p>
                      {% endif %}
                  </div>
                </div>
              </div>
          </div>
        </div>
    </div>
  {% endfor %}
  </div>
{%- endmacro %}


{% macro searchResults(packages) -%}
<div class="package-summary-list">
{%- for package in packages  %}
  <div class="row">
      <div class="col-sm-12 pad-xs-left-zero pad-xs-right-zero ">
          <div class="square">
            <div class="content">
              <div class="row">
                <div class="col-sm-8 pad-xs-left-zero pad-xs-right-zero">
                  <a href="/dataset/{{ package.name }}"><h3>{{ package.title or package.name }}</h3></a>
                </div>
                <div class="col-sm-4 pad-xs-left-zero pad-xs-right-zero">
                    <!-- <div class="meta">
                      {% if package.datahub.findability === 'unlisted' %}
                      <span class="label label-primary" title="This dataset is not published yet.">unlisted</span>
                      {% elif package.datahub.findability === 'private' %}
                      <span class="label label-primary" title="This dataset is not published yet.">private</span>
                      {% endif %}
                    </div> -->
                  <!-- <span class="pull-right">
                      {% if package.revisionId %}
                      <strong>v{{ package.revisionId }}</strong> updated {{ package.datahub.modified }}
                      {% else %}
                        updated {{ package.datahub.modified }}
                      {% endif %}
                  </span> -->
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4 pad-xs-left-zero pad-xs-right-zero">
                  <span>{{ package.name }}</span>
                </div>
                <div class="col-sm-8 pad-xs-left-zero pad-xs-right-zero">
                  <ul class="pull-right">
                    <li>
                        <img src="/static/img/energi-data-service-favicon-180.png" class="img-responsive img-circle avatar" />
                        <a href="/dataset"><span>dataset</span></a>
                    </li>
                    <li><img src="/static/img/folder.png" class="img-icons"/><span>Files {{ package.resources|length }}</span></li>
                    <li><img src="/static/img/hard-disk.png" class="img-icons"/><span>{{ package.datahub.stats.prettyBytes }}</span></li>
                  </ul>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 pad-xs-left-zero pad-xs-right-zero">
                    {% if package.readmeSnippet %}
                    <p class="readme">
                      {{ package.readmeSnippet }}
                      <a href="/dataset/{{ package.name }}">
                        Explore Dataset <span>&rsaquo;</span>
                      </a>
                    </p>
                    {% elif package.readmeHtml %}
                    <p class="readme">
                      {{ package.readmeHtml|safe }}
                      <a href="/dataset/{{ package.name }}">
                        Explore Dataset <span>&rsaquo;</span>
                      </a>
                    </p>
                    {% elif package.description %}
                    <p class="readme">
                      {% if package.description|length > 200 %}
                        {{ package.description|truncate(200) }}
                      {% else %}
                        {{ package.description }}
                      {% endif %}
                      <a href="/dataset/{{ package.name }}">
                        Explore Dataset <span>&rsaquo;</span>
                      </a>
                    </p>
                    {% elif package.notes %}
                    <p class="readme">
                      {% if package.notes|length > 200 %}
                        {{ package.notes|truncate(200) }}
                      {% else %}
                        {{ package.notes }}
                      {% endif %}
                      <a href="/dataset/{{ package.name }}">
                        Explore Dataset <span>&rsaquo;</span>
                      </a>
                    </p>
                    {% endif %}
                </div>
              </div>
            </div>
        </div>
      </div>
  </div>
{%- endfor %}
</div>
{%- endmacro %}


{% macro uploading(statusApi, failUrl, successUrl, resources) -%}
  <p class="progressing-heading" id="message">
    Your data is safely stored and is getting processed - it will be here soon!
  </p>
  <p class="text-center" id="mainPipelines">
  </p>
  <p class="progressing-title row" id="inprogress">
  </p>
  <br>

  <script type="text/javascript">
    var resolvedStates = ['SUCCEEDED', 'FAILED']
    // The polling function
    function poll(fn, timeout, interval, resources_) {
      var endTime = Number(new Date()) + (timeout || 2000);
      interval = interval || 100;
      var checkCondition = function(resolve, reject) {
          // If the condition is met, we're done!
          fn().then(function(res) {
            res.json().then(function(out) {
              // If still in progress then show which pipeline is running:
              var inprogress = document.getElementById('inprogress');
              var flowID = out.id;
              var pipelines = Object.keys(out.pipelines);
              inprogress.innerHTML = '';
              var pipelinesPrefixes = [];

              resources_.forEach(function(resource) {
                var pipelinePrefix = flowID + '/' + resource.name;
                pipelinesPrefixes.push(pipelinePrefix);
                var resourcePipelines = [];
                pipelines.forEach(function(pipeline) {
                  if (pipeline.includes(pipelinePrefix)) {
                    resourcePipelines.push(pipeline);
                  }
                })
                if (resources_.length === 1) {
                  inprogress.innerHTML += `<div class="col-xs-4 col-xs-offset-4" id="${resource.name}-pipeline"><p class="pipeline-title">${resource.name}</p></div>`;
                } else if (resources_.length === 2) {
                  inprogress.innerHTML += `<div class="col-xs-4 col-xs-offset-1" id="${resource.name}-pipeline"><p class="pipeline-title">${resource.name}</p></div>`;
                } else {
                  inprogress.innerHTML += `<div class="col-xs-4" id="${resource.name}-pipeline"><p class="pipeline-title">${resource.name}</p></div>`;
                }

                var pipelinesDiv = document.getElementById(`${resource.name}-pipeline`);
                resourcePipelines.forEach(function(pipeline) {
                  if (out.pipelines[pipeline].status === 'INPROGRESS' || out.pipelines[pipeline].status === 'QUEUED') { // Running - have a spinner
                    pipelinesDiv.innerHTML += '<div class="progressing-item"><i class="fas fa-spinner fa-pulse fa-fw" aria-hidden="true" id="spinner"></i> ' + out.pipelines[pipeline].title + '</div>';
                  } else if (out.pipelines[pipeline].status === 'FAILED') { // Failed - have a cross
                    pipelinesDiv.innerHTML += '<div class="progressing-item"><i class="fas fa-times" aria-hidden="true"></i> ' + out.pipelines[pipeline].title + '</div>';
                  } else if (out.pipelines[pipeline].status === 'SUCCEEDED') { // Success - have a tick
                    pipelinesDiv.innerHTML += '<div class="progressing-item"><i class="fas fa-check" aria-hidden="true"></i> ' + out.pipelines[pipeline].title + '</div>';
                  } else { // Unknown state just leave at gray
                    pipelinesDiv.innerHTML += '<div class="progressing-item"><i class="fas fa-question" aria-hidden="true"></i> ' + out.pipelines[pipeline].title + '</div>';
                  }
                })
              })

              var otherPipelines = pipelines.filter(function(pipeline) {
                var doesntInclude = true;
                pipelinesPrefixes.forEach(function(prefix) {
                  if (pipeline.includes(prefix)) {
                    doesntInclude = false;
                  }
                })
                return doesntInclude;
              })
              var mainPipelines = document.getElementById('mainPipelines');
              mainPipelines.innerHTML = '';
              otherPipelines.forEach(function(pipeline) {
                if (out.pipelines[pipeline].status === 'INPROGRESS' || out.pipelines[pipeline].status === 'QUEUED') { // Running - have a spinner
                  mainPipelines.innerHTML += '<div class="main-item"><i class="fas fa-spinner fa-pulse fa-fw" aria-hidden="true" id="spinner"></i> ' + out.pipelines[pipeline].title + '</div>';
                } else if (out.pipelines[pipeline].status === 'FAILED') { // Failed - have a cross
                  mainPipelines.innerHTML += '<div class="main-item"><i class="fas fa-times" aria-hidden="true"></i> ' + out.pipelines[pipeline].title + '</div>';
                } else if (out.pipelines[pipeline].status === 'SUCCEEDED') { // Success - have a tick
                  mainPipelines.innerHTML += '<div class="main-item"><i class="fas fa-check" aria-hidden="true"></i> ' + out.pipelines[pipeline].title + '</div>';
                } else { // Unknown state just leave at gray
                  mainPipelines.innerHTML += '<div class="main-item"><i class="fas fa-question" aria-hidden="true"></i> ' + out.pipelines[pipeline].title + '</div>';
                }
              })

              // Check if resolved:
              if (resolvedStates.includes(out.state)) {
                resolve(out);
              }
              // If the condition isn't met but the timeout hasn't elapsed, go again
              else if (Number(new Date()) < endTime) {
                  setTimeout(checkCondition, interval, resolve, reject);
              }
              // Didn't match and too much time, reject!
              else {
                  reject(new Error('timed out for ' + fn + ': ' + arguments));
              }
            })
          })
      };

      return new Promise(checkCondition);
    }
    poll(function() {
      return window.fetch('{{ statusApi }}');
    }, 1200000, 2000, {{ resources | dump | safe }}).then(function(status) {
      var target = document.getElementById('message');
      if (status.state === 'FAILED') {
        target.innerHTML = 'Failed... Reloading the page...';
        setTimeout(function() {
          window.location = '{{ failUrl }}';
        }, 1000);
      } else if (status.state === 'SUCCEEDED') {
        target.innerHTML = 'Finished! Redirecting...';
        setTimeout(function() {
          window.location = '{{ successUrl }}';
        }, 1000);
      }
    }).catch(function() {
      // Polling timed out, tell the user to reload the page:
      var target = document.getElementById('message');
      target.innerHTML = 'Polling timed out. Please, reload the page...';
      document.getElementById('spinner').classList.remove('fa-pulse');
    });
  </script>
{%- endmacro %}

{% macro defaultResults() -%}
<div class="package-summary-list">

    <!-- search result -->
    <div class="row">
        <div class="col-sm-12 pad-xs-left-zero pad-xs-right-zero ">
            <div class="square">
              <div class="content">
                <div class="row">
                  <div class="col-sm-8 pad-xs-left-zero pad-xs-right-zero">
                    <a href="/core/finance-vix"><h3>VIX - CBOE Volatility Index</h3></a>
                  </div>
                  <div class="col-sm-4 pad-xs-left-zero pad-xs-right-zero">
                    <span class="pull-right">
                      updated daily
                    </span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6 pad-xs-left-zero pad-xs-right-zero">
                    <span>finance-vix</span>
                  </div>
                  <div class="col-sm-6 pad-xs-left-zero pad-xs-right-zero">
                    <ul class="pull-right">
                      <li>
                          <img src="/static/img/logo-cube03.png" class="img-responsive img-circle avatar">
                          <a href="/core"><span>core</span></a>
                      </li>
                      <li><img src="/static/img/folder.png" class="img-icons"><span>Files 2</span></li>
                      <li><img src="/static/img/hard-disk.png" class="img-icons"><span>1MB</span></li>
                    </ul>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 pad-xs-left-zero pad-xs-right-zero">

                      <p class="readme">
                          CBOE Volatility Index (VIX) time-series dataset including daily open, close, high and low. The CBOE Volatility Index (VIX) is a key measure of market expectations of near-term volatility conveyed by S&P 500 stock index option prices introduced in 1993. Data From the VIX FAQ: In 1993, the
                        <a href="/core/finance-vix">
                          Explore Dataset <span>›</span>
                        </a>
                      </p>
                  </div>
                </div>
              </div>
          </div>
        </div>
    </div>
    <!-- end of search result -->

    <!-- search result -->
    <div class="row">
        <div class="col-sm-12 pad-xs-left-zero pad-xs-right-zero ">
            <div class="square">
              <div class="content">
                <div class="row">
                  <div class="col-sm-8 pad-xs-left-zero pad-xs-right-zero">
                    <a href="/core/natural-gas"><h3>Natural gas prices</h3></a>
                  </div>
                  <div class="col-sm-4 pad-xs-left-zero pad-xs-right-zero">
                    <span class="pull-right">
                      updated daily
                    </span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6 pad-xs-left-zero pad-xs-right-zero">
                    <span>natural-gas</span>
                  </div>
                  <div class="col-sm-6 pad-xs-left-zero pad-xs-right-zero">
                    <ul class="pull-right">
                      <li>
                          <img src="/static/img/logo-cube03.png" class="img-responsive img-circle avatar">
                          <a href="/core"><span>core</span></a>
                      </li>
                      <li><img src="/static/img/folder.png" class="img-icons"><span>Files 3</span></li>
                      <li><img src="/static/img/hard-disk.png" class="img-icons"><span>115kB</span></li>
                    </ul>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 pad-xs-left-zero pad-xs-right-zero">

                      <p class="readme">
                          Time series of major Natural Gas Prices including US Henry Hub. Data comes from U.S. Energy Information Administration EIA Data Dataset contains Monthly and Daily prices of Natural gas, starting from January 1997, including April 2016. Prices are in nominal dollars.
                        <a href="/core/natural-gas">
                          Explore Dataset <span>›</span>
                        </a>
                      </p>
                  </div>
                </div>
              </div>
          </div>
        </div>
    </div>
    <!-- end of search result -->

    <!-- search result -->
    <div class="row">
        <div class="col-sm-12 pad-xs-left-zero pad-xs-right-zero ">
            <div class="square">
              <div class="content">
                <div class="row">
                  <div class="col-sm-8 pad-xs-left-zero pad-xs-right-zero">
                    <a href="/core/airport-codes"><h3>Airport Codes</h3></a>
                  </div>
                  <div class="col-sm-4 pad-xs-left-zero pad-xs-right-zero">
                    <span class="pull-right">
                      updated daily
                    </span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6 pad-xs-left-zero pad-xs-right-zero">
                    <span>airport-codes</span>
                  </div>
                  <div class="col-sm-6 pad-xs-left-zero pad-xs-right-zero">
                    <ul class="pull-right">
                      <li>
                          <img src="/static/img/logo-cube03.png" class="img-responsive img-circle avatar">
                          <a href="/core"><span>core</span></a>
                      </li>
                      <li><img src="/static/img/folder.png" class="img-icons"><span>Files 2</span></li>
                      <li><img src="/static/img/hard-disk.png" class="img-icons"><span>36MB</span></li>
                    </ul>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 pad-xs-left-zero pad-xs-right-zero">

                      <p class="readme">
                          The airport codes may refer to either IATA airport code, a three-letter code which is used in passenger reservation, ticketing and baggage-handling systems, or the ICAO airport code which is a four letter code used by ATC systems and for airports that do not have an IATA airport code
                        <a href="/core/airport-codes">
                          Explore Dataset <span>›</span>
                        </a>
                      </p>
                  </div>
                </div>
              </div>
          </div>
        </div>
    </div>
    <!-- end of search result -->

    <!-- search result -->
    <div class="row">
        <div class="col-sm-12 pad-xs-left-zero pad-xs-right-zero ">
            <div class="square">
              <div class="content">
                <div class="row">
                  <div class="col-sm-8 pad-xs-left-zero pad-xs-right-zero">
                    <a href="/core/oil-prices"><h3>Brent and WTI Spot Prices</h3></a>
                  </div>
                  <div class="col-sm-4 pad-xs-left-zero pad-xs-right-zero">
                    <span class="pull-right">
                      updated weekly
                    </span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6 pad-xs-left-zero pad-xs-right-zero">
                    <span>oil-prices</span>
                  </div>
                  <div class="col-sm-6 pad-xs-left-zero pad-xs-right-zero">
                    <ul class="pull-right">
                      <li>
                          <img src="/static/img/logo-cube03.png" class="img-responsive img-circle avatar">
                          <a href="/core"><span>core</span></a>
                      </li>
                      <li><img src="/static/img/folder.png" class="img-icons"><span>Files 9</span></li>
                      <li><img src="/static/img/hard-disk.png" class="img-icons"><span>2MB</span></li>
                    </ul>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 pad-xs-left-zero pad-xs-right-zero">

                      <p class="readme">
                          Europe Brent and WTI (Western Texas Intermediate) Spot Prices (Annual/ Monthly/ Weekly/ Daily) from EIA U.S. (Energy Information Administration). Data Sources * Name: Daily Europe Brent Spot Price Web: https://www.eia.gov/dnav/pet/hist_xls/RBRTEd.xls * Name: Weekly Europe Brent Spot Price
                        <a href="/core/oil-prices">
                          Explore Dataset <span>›</span>
                        </a>
                      </p>
                  </div>
                </div>
              </div>
          </div>
        </div>
    </div>
    <!-- end of search result -->

    <!-- search result -->
    <div class="row">
        <div class="col-sm-12 pad-xs-left-zero pad-xs-right-zero ">
            <div class="square">
              <div class="content">
                <div class="row">
                  <div class="col-sm-8 pad-xs-left-zero pad-xs-right-zero">
                    <a href="/core/language-codes"><h3>ISO Language Codes (639-1 and 693-2) and IETF Language Types</h3></a>
                  </div>
                  <div class="col-sm-4 pad-xs-left-zero pad-xs-right-zero">
                    <span class="pull-right">
                      updated monthly
                    </span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6 pad-xs-left-zero pad-xs-right-zero">
                    <span>language-codes</span>
                  </div>
                  <div class="col-sm-6 pad-xs-left-zero pad-xs-right-zero">
                    <ul class="pull-right">
                      <li>
                          <img src="/static/img/logo-cube03.png" class="img-responsive img-circle avatar">
                          <a href="/core"><span>core</span></a>
                      </li>
                      <li><img src="/static/img/folder.png" class="img-icons"><span>Files 5</span></li>
                      <li><img src="/static/img/hard-disk.png" class="img-icons"><span>187kB</span></li>
                    </ul>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 pad-xs-left-zero pad-xs-right-zero">

                      <p class="readme">
                          Comprehensive language code information, consisting of ISO 639-1, ISO 639-2 and IETF language types. Data Data is taken from the Library of Congress as the ISO 639-2 Registration Authority, and from the Unicode Common Locale Data Repository.
                        <a href="/core/language-codes">
                          Explore Dataset <span>›</span>
                        </a>
                      </p>
                  </div>
                </div>
              </div>
          </div>
        </div>
    </div>
    <!-- end of search result -->

    <!-- search result -->
    <div class="row">
        <div class="col-sm-12 pad-xs-left-zero pad-xs-right-zero ">
            <div class="square">
              <div class="content">
                <div class="row">
                  <div class="col-sm-8 pad-xs-left-zero pad-xs-right-zero">
                    <a href="/core/bond-yields-us-10y"><h3>10 year US Government Bond Yields (long-term interest rate)</h3></a>
                  </div>
                  <div class="col-sm-4 pad-xs-left-zero pad-xs-right-zero">
                    <span class="pull-right">
                      updated monthly
                    </span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6 pad-xs-left-zero pad-xs-right-zero">
                    <span>bond-yields-us-10y</span>
                  </div>
                  <div class="col-sm-6 pad-xs-left-zero pad-xs-right-zero">
                    <ul class="pull-right">
                      <li>
                          <img src="/static/img/logo-cube03.png" class="img-responsive img-circle avatar">
                          <a href="/core"><span>core</span></a>
                      </li>
                      <li><img src="/static/img/folder.png" class="img-icons"><span>Files 2</span></li>
                      <li><img src="/static/img/hard-disk.png" class="img-icons"><span>90kB</span></li>
                    </ul>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 pad-xs-left-zero pad-xs-right-zero">

                      <p class="readme">
                          10 year nominal yields on US government bonds from the Federal Reserve. The 10 year government bond yield is considered a standard indicator of long-term interest rates.
                        <a href="/core/bond-yields-us-10y">
                          Explore Dataset <span>›</span>
                        </a>
                      </p>
                  </div>
                </div>
              </div>
          </div>
        </div>
    </div>
    <!-- end of search result -->

    <!-- search result -->
    <div class="row">
        <div class="col-sm-12 pad-xs-left-zero pad-xs-right-zero ">
            <div class="square">
              <div class="content">
                <div class="row">
                  <div class="col-sm-8 pad-xs-left-zero pad-xs-right-zero">
                    <a href="/core/bond-yields-uk-10y"><h3>10y UK Government Bond Yields (long-term interest rate)</h3></a>
                  </div>
                  <div class="col-sm-4 pad-xs-left-zero pad-xs-right-zero">
                    <span class="pull-right">
                      updated quarterly
                    </span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6 pad-xs-left-zero pad-xs-right-zero">
                    <span>bond-yields-uk-10y</span>
                  </div>
                  <div class="col-sm-6 pad-xs-left-zero pad-xs-right-zero">
                    <ul class="pull-right">
                      <li>
                          <img src="/static/img/logo-cube03.png" class="img-responsive img-circle avatar">
                          <a href="/core"><span>core</span></a>
                      </li>
                      <li><img src="/static/img/folder.png" class="img-icons"><span>Files 3</span></li>
                      <li><img src="/static/img/hard-disk.png" class="img-icons"><span>21kB</span></li>
                    </ul>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 pad-xs-left-zero pad-xs-right-zero">

                      <p class="readme">
                          10 year nominal yields on UK government bonds from the bank of England. The 10 year government bond yield is considered a standard indicator of long-term interest rates. This is a direct extract from the Bank of [England IUAAMNPY series: "Annual average yield from British Government Securities, 10
                        <a href="/core/bond-yields-uk-10y">
                          Explore Dataset <span>›</span>
                        </a>
                      </p>
                  </div>
                </div>
              </div>
          </div>
        </div>
    </div>
    <!-- end of search result -->

    <!-- search result -->
    <div class="row">
        <div class="col-sm-12 pad-xs-left-zero pad-xs-right-zero ">
            <div class="square">
              <div class="content">
                <div class="row">
                  <div class="col-sm-8 pad-xs-left-zero pad-xs-right-zero">
                    <a href="/core/world-cities"><h3>Major cities of the world</h3></a>
                  </div>
                  <div class="col-sm-4 pad-xs-left-zero pad-xs-right-zero">
                    <span class="pull-right">
                      updated recently
                    </span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6 pad-xs-left-zero pad-xs-right-zero">
                    <span>world-cities</span>
                  </div>
                  <div class="col-sm-6 pad-xs-left-zero pad-xs-right-zero">
                    <ul class="pull-right">
                      <li>
                          <img src="/static/img/logo-cube03.png" class="img-responsive img-circle avatar">
                          <a href="/core"><span>core</span></a>
                      </li>
                      <li><img src="/static/img/folder.png" class="img-icons"><span>Files 2</span></li>
                      <li><img src="/static/img/hard-disk.png" class="img-icons"><span>829kB</span></li>
                    </ul>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 pad-xs-left-zero pad-xs-right-zero">

                      <p class="readme">
                          List of major cities in the world Data The data is extracted from geonames, a very exhaustive list of worldwide toponyms. This datapackage only list cities above 15,000 inhabitants. Each city is associated with its country and subcountry to reduce the number of ambiguities.
                        <a href="/core/world-cities">
                          Explore Dataset <span>›</span>
                        </a>
                      </p>
                  </div>
                </div>
              </div>
          </div>
        </div>
    </div>
    <!-- end of search result -->

    <!-- search result -->
    <div class="row">
        <div class="col-sm-12 pad-xs-left-zero pad-xs-right-zero ">
            <div class="square">
              <div class="content">
                <div class="row">
                  <div class="col-sm-8 pad-xs-left-zero pad-xs-right-zero">
                    <a href="/core/country-list"><h3>List of all countries with their 2 digit codes (ISO 3166-1)</h3></a>
                  </div>
                  <div class="col-sm-4 pad-xs-left-zero pad-xs-right-zero">
                    <span class="pull-right">
                      updated recently
                    </span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6 pad-xs-left-zero pad-xs-right-zero">
                    <span>country-list</span>
                  </div>
                  <div class="col-sm-6 pad-xs-left-zero pad-xs-right-zero">
                    <ul class="pull-right">
                      <li>
                          <img src="/static/img/logo-cube03.png" class="img-responsive img-circle avatar">
                          <a href="/core"><span>core</span></a>
                      </li>
                      <li><img src="/static/img/folder.png" class="img-icons"><span>Files 2</span></li>
                      <li><img src="/static/img/hard-disk.png" class="img-icons"><span>37kB</span></li>
                    </ul>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 pad-xs-left-zero pad-xs-right-zero">

                      <p class="readme">
                          ISO 3166-1-alpha-2 English country names and code elements. This list states the country names (official short names in English) in alphabetical order as given in ISO 3166-1 and the corresponding ISO 3166-1-alpha-2 code elements.
                        <a href="/core/country-list">
                          Explore Dataset <span>›</span>
                        </a>
                      </p>
                  </div>
                </div>
              </div>
          </div>
        </div>
    </div>
    <!-- end of search result -->

    <!-- search result -->
    <div class="row">
        <div class="col-sm-12 pad-xs-left-zero pad-xs-right-zero ">
            <div class="square">
              <div class="content">
                <div class="row">
                  <div class="col-sm-8 pad-xs-left-zero pad-xs-right-zero">
                    <a href="/core/country-codes"><h3>Comprehensive country codes: ISO 3166, ITU, ISO 4217 currency codes and many more</h3></a>
                  </div>
                  <div class="col-sm-4 pad-xs-left-zero pad-xs-right-zero">
                    <span class="pull-right">
                      updated recently
                    </span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6 pad-xs-left-zero pad-xs-right-zero">
                    <span>country-codes</span>
                  </div>
                  <div class="col-sm-6 pad-xs-left-zero pad-xs-right-zero">
                    <ul class="pull-right">
                      <li>
                          <img src="/static/img/logo-cube03.png" class="img-responsive img-circle avatar">
                          <a href="/core"><span>core</span></a>
                      </li>
                      <li><img src="/static/img/folder.png" class="img-icons"><span>Files 2</span></li>
                      <li><img src="/static/img/hard-disk.png" class="img-icons"><span>295kB</span></li>
                    </ul>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 pad-xs-left-zero pad-xs-right-zero">

                      <p class="readme">
                          Comprehensive country code information, including ISO 3166 codes, ITU dialing codes, ISO 4217 currency codes, and many others. Provided as a Tabular Data Package: view datapackage Data Data are fetched from multiple sources: Official formal and short names (in English, French, Spanish, Arabic
                        <a href="/core/country-codes">
                          Explore Dataset <span>›</span>
                        </a>
                      </p>
                  </div>
                </div>
              </div>
          </div>
        </div>
    </div>
    <!-- end of search result -->
</div>
{%- endmacro %}
