{% extends "base.html" %}

{% block title%}{{title}} - Blog{% endblock %}

{% block bodyclass %}blog{% endblock %}

{% block content %}
<div class="container mx-auto p-gutter">
  <nav class="breadcrumb" aria-label="breadcrumb">
    <ol>
      <li class="breadcrumb_item">
        <a class="breadcrumb_link" href="/">{{__('Home')}}</a>
      </li>
      <li class="breadcrumb_item">
        <a class="breadcrumb_link" href="/blog" aria-current="page">{{__('Blog')}}</a>
      </li>
    </ol>
  </nav>
</div>

<div class="container mx-auto md:flex p-gutter">

  <div class="md:w-2/3 md:mr-gutter lg:flex flex-wrap">
    <!-- posts -->
    {% for post in posts %}
    {% if loop.index0 % 2 == 0 %}
      {% set cls = "article-preview mb-gutter pb-gutter lg:w-1/2 lg:pr-gutter" %}
    {% else %}
      {% set cls = "article-preview mb-gutter pb-gutter lg:w-1/2 lg:pl-gutter" %}
    {% endif %}
    <div class="{{cls}}">
      <a class="article-preview_image" href="/blog/{{post.slug}}">
        <img class="article-preview_img" src="{{post.image or '/static/img/placeholder.svg'}}" />
      </a>
      <div class="article-preview_text">
        <h1 class="article-preview_heading">
          <a class="article-preview_heading-link" href="/blog/{{post.slug}}">{{post.title}}</a>
        </h1>
        <time class="article-preview_date">{{post.published}}</time>
        <div class="article-preview_content">
          {{ post.excerpt }}
          <a class="text-secondary hover:underline" href="/blog/{{post.slug}}">Læse hele artiklen</a>
        </div>
      </div>
    </div>

    {% endfor %}
  </div>

  <div class="md:w-1/3 md:pl-gutter">
    <h2 class="bg-gray-200 px-4 py-3 font-bold mb-2">Fremhævede blogindlæg</h2>
    <ul>
      {% for post in featuredPosts %}
      <li class="border-b-2 border-gray-200">
        <article class="px-4 py-3">
          <h1><a href="/blog/{{post.slug}}" class="text-primary font-semibold hover:underline">{{post.title}}</a></h1>
          <time class="text-sm">{{post.published}}</time>
        </article>
      </li>
      {% endfor %}
    </ul>

  </div>
</div>

{% endblock %}
