{% extends "base.html" %}

{% block title%}{{title}}{% endblock %}

{% block bodyclass %}awesome{% endblock %}

{% block content %}

<div class="container mx-auto p-gutter">
  <nav class="breadcrumb" aria-label="breadcrumb">
    <ol>
      <li class="breadcrumb_item">
        <a class="breadcrumb_link" href="/">Home</a>
      </li>
      <li class="breadcrumb_item">
        <a class="breadcrumb_link" href="/{{ slug }}" aria-current="page">{{ __(title) }}</a>
      </li>
    </ol>
  </nav>
</div>

<div class="container mx-auto p-gutter">
  <h1 class="font-semibold text-3xl mb-1">{{ __(title) }}</h1>
  <p class="leading-relaxed lg:w-2/3">
    {{ __(description) }}
  </p>

  <ul class="sm:flex flex-wrap sm:-mx-4 mt-gutter">
    {% for collection in collections  | sort(attribute='title') %}
    <!-- group -->
    <li class="sm:w-1/2 lg:w-1/3">
      <a class="flex bg-gray-200 p-4 text-primary my-4 sm:mx-4" href="/{{ slug }}/{{ collection.name }}">
        <div class="w-24 h-24 mr-4 p-4 flex-shrink-0 flex justify-center {%if slug == 'organization' %}bg-white{% else %}bg-secondary{% endif %}">
          <img class="w-full" src="{{ collection.image }}">
        </div>
        <div class="flex flex-col justify-center overflow-hidden">
          <h2 class="font-semibold text-lg">{{ collection.title }}</h2>
          <p>{{ collection.summary }}</p>
        </div>
      </a>
    </li>
    <!-- group end -->
    {% endfor %}
  </ul>
</div>
{% endblock %}
