{% extends "base.html" %}

{% block title %}
Welcome - Home
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.1/tiny-slider.css">
{% endblock %}

{% block bodyclass %}home{% endblock %}

{% block content %}
<div class="container mx-auto px-gutter">
  <header class="mb-gutter">
    <h1 class="home_h1">{{ home_heading }}</h1>

      <div class="lg:flex mt-gutter">
        <ul class="featured-groups">
          {% for collection in  collections %}
            <li class="featured-groups_item">
              <a href="/collections/{{ collection.name }}" class="featured-groups_link">
                <span class="featured-groups_icon">
                  <img src="{{ collection.image }}" class="featured-groups_img" />
                </span>
                <span class="featured-groups_name">{{ collection.title }}</span>
              </a>
            </li>
          {% endfor %}
        </ul>
      <!-- searchbox -->
        <div class="dropdown">
          <div class="relative">
            <input id="searchInput" autocomplete="off" onkeyup="onKeyUp()" type="text" class="bg-secondary pl-4 pr-12 py-3 text-lg w-full outline-none" placeholder="{{__('Search ...')}}" name="q" required />
            <button class="absolute inset-y-0 right-0 px-3 outline-none" type="submit">
              <svg class="w-6 h-6 fill-white" aria-label="Search Datasets"><use xlink:href="#search" /></svg>
            </button>
          </div>
          <div id="searchSelect">
            <div id="searchSelect1Div" class="relative border-t-2 border-b-2" onclick="selectedInput1()">
              <input id="searchSelect1" readonly type="text" class="cursor-pointer bg-secondary hover:bg-gray-500 pl-10 pr-48 py-3 text-lg w-full outline-none" />
              <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center px-2 text-gray-700">
                <svg class="w-6 h-6 fill-white" aria-label="Search Datasets"><use xlink:href="#search" /></svg>
              </div>
              <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                <button class="flex-shrink-0 bg-teal-500 hover:bg-teal-700 border-teal-500 hover:border-teal-700 text-sm border-4 text-white py-1 px-2 rounded" type="button">
                  Søg datasæt
                </button>
              </div>
            </div>

            <div id="searchSelect2Div" class="relative" onclick="selectedInput2()">
              <input id="searchSelect2" readonly type="text" class="cursor-pointer bg-secondary hover:bg-gray-500 pl-10 pr-48 py-3 text-lg w-full outline-none" />
              <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center px-2 text-gray-700">
                <svg class="w-6 h-6 fill-white" aria-label="Search content"><use xlink:href="#search" /></svg>
              </div>
              <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                <button class="flex-shrink-0 text-sm border-4 text-white py-1 px-2 rounded" type="button">
                  Søg på websted
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
  </header>

  <section class="md:flex md:-mx-gutter">
    {% for post in posts %}
    <!-- article-preview -->
    <article class="article-preview my-gutter pb-gutter md:w-1/3 md:mx-gutter">
      <a class="article-preview_image" href="/blog/{{post.slug}}">
        <img class="article-preview_img" src="{{post.image or '/static/img/placeholder.svg'}}" />
      </a>
      <div class="article-preview_text">
        <h1 class="article-preview_heading">
          <a class="article-preview_heading-link" href="/blog/{{post.slug}}">{{ post.title }}</a>
        </h1>
        <time class="article-preview_date">{{ post.modified }}</time>
        <p class="article-preview_content">
          {{post.content | safe | truncate(200)}}
        </p>
      </div>
    </article>
    <!-- article-preview end -->
    {% endfor %}
  </section>

  <!-- if future events -->
  <section class="home_events lg:w-2/3 my-gutter">
    <div class="overflow-hidden">
      <ul class="slider">
        {% for event in events %}
        <li>
          <a class="flex" href="/blog/{{ event.slug }}">
            <time class="flex flex-col justify-center bg-secondary text-white text-center px-6 py-4">
              <span class="font-semibold text-3xl leading-none">{{ event.day }}</span> <span class="leading-none">{{ event.month }}</span>
            </time>
            <div class="px-6">
              <h3 class="font-semibold text-2xl text-primary">{{ event.title }}</h3>
              <p class="text-gray-500">
                {{ event.excerpt | safe | truncate(120) or event.content | safe | truncate(120) }}
              </p>
            </div>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>

  </section>
  <!-- end if -->

  <section id="tweets-container" class="md:flex flex-wrap md:-mx-gutter list-none">
  <div class="my-gutter px-3 md:w-1/3 flex">
    <li class="inline-block bg-gray-900 text-white p-10 ">
      <h3 class="font-semibold text-2xl">Hvad er Open Data DK</h3>
      <p class="leading-relaxed">
        Open Data DK er en forening for danske kommuner og regioner. Formålet med Open Data DK er at skabe transparens i den offentlige forvaltning og skabe grobund for datadreven vækst. Data gøres åbne og frit tilgængelige for at understøtte produktivitet og innovation ved en højere grad af udnyttelse af data.
      </p>
      <a class="font-semibold text-white" href="/about">{{__('More')}}</a>
    </li>
    </div>
    <div id="tweets" class="twitter-feed"></div>
  </section>

</div>
{% endblock %}

{% block scripts %}

<script src="//cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.1/min/tiny-slider.js"></script>

<script src="/static/js/twitterFetcher_min.js"></script>

<script>
  // slider
  var slider = tns({
    container: '.slider',
    controls: false
  });

  // Twitter
  var configProfile = {
    "profile": {"screenName": 'OpenDataDK'},
    "domId": 'tweets',
    "maxTweets": 5,
    "showUser": true,
    "showTime": false,
    "showImages": false, //https://github.com/jasonmayes/Twitter-Post-Fetcher/issues/182
    "showRetweet": false
  };
  twitterFetcher.fetch(configProfile);

window.onload =  async function(){
  document.getElementById("searchSelect").style.display = "none";

  var tweetscontainer = document.getElementById('tweets-container');
  var tweetslist = document.getElementById('tweets');
  var innerblock = "";
    for ( var i = 0; i < tweetslist.childNodes[0].childNodes.length; i++) {
          tweetslist.childNodes[0].childNodes[i].className = "bg-gray-200 p-6";
          innerblock += '<div class=\"my-gutter px-4 md:w-1/3\  flex twitter-feed"> '+tweetslist.childNodes[0].childNodes[i].outerHTML+'</div>';

    }
    tweetscontainer.removeChild(tweetslist)
    tweetscontainer.innerHTML+= innerblock
};

document.getElementById("searchSelect").style.display = "none";

function onKeyUp() {
  let searchFieldValue = document.getElementById("searchInput").value;
  document.getElementById("searchSelect1").value = searchFieldValue;
  document.getElementById("searchSelect2").value = searchFieldValue;
  if (searchFieldValue !== "") {
    document.getElementById("searchSelect").style.display = "block";
  } else {
    document.getElementById("searchSelect").style.display = "none";
  }
}

function selectedInput1() {
  window.location.href = window.location.origin + "/search?q=" + document.getElementById("searchSelect1").value;
}

function selectedInput2() {
  window.location.href = window.location.origin + "/search/content?q=" + document.getElementById("searchSelect1").value;
}

function mouseOver(number) {
  if (number===1) {
    document.getElementById("searchSelect1").classList.add("bg-red-500");
  }
}

</script>
{% endblock %}
