{% extends "base.html" %}

{% block title %}
Welcome - Home
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.1/tiny-slider.css">
{% endblock %}

{% block bodyclass %}home{% endblock %}

{% block content %}
<div class="container mx-auto px-gutter">
  <header class="mb-gutter">
    <h1 class="home_h1">{{ home_heading | safe }}</h1>

      <div class="lg:flex mt-gutter">
        <ul class="featured-groups">
          {% for collection in  collections %}
            <li class="featured-groups_item">
              <a href="/collections/{{ collection.name }}" class="featured-groups_link">
                <span class="featured-groups_icon">
                  <img src="{{ collection.image }}" class="featured-groups_img" />
                </span>
                <span class="featured-groups_name">{{ collection.title }}</span>
              </a>
            </li>
          {% endfor %}
        </ul>
      <!-- searchbox -->
        <div class="dropdown">
          <div class="relative">
            <input id="searchInputHome" autocomplete="off" type="text" class="searchInput bg-secondary pl-4 pr-12 py-3 text-lg text-white w-full outline-none" placeholder="{{__('Search ...')}}" name="q" required />
            <button class="absolute inset-y-0 right-0 px-3 outline-none" type="submit">
              <svg class="w-6 h-6 fill-white" aria-label="Search Datasets"><use xlink:href="#search" /></svg>
            </button>
          </div>
          <div id="searchSelectHome" class="searchSelect">
            <div id="searchSelect1DivHome" class="searchSelect1Div relative border-t-2 border-b-2">
              <input id="searchSelect1Home" readonly type="text" class="searchSelect1 cursor-pointer bg-secondary hover:bg-gray-500 focus:bg-gray-500 pl-10 pr-48 py-3 text-lg text-white w-full outline-none" />
              <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center px-2 text-gray-700">
                <svg class="w-6 h-6 fill-white" aria-label="Search Datasets"><use xlink:href="#search" /></svg>
              </div>
              <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                <button class="flex-shrink-0 bg-teal-500 hover:bg-teal-700 border-teal-500 hover:border-teal-700 text-sm border-4 text-white py-1 px-2 rounded" type="button">
                  {{__('Search datasets')}}
                </button>
              </div>
            </div>

            <div id="searchSelect2DivHome" class="searchSelect2Div relative">
              <input id="searchSelect2Home" readonly type="text" class="searchSelect2 cursor-pointer bg-secondary hover:bg-gray-500 focus:bg-gray-500 pl-10 pr-48 py-3 text-lg text-white w-full outline-none" />
              <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center px-2 text-gray-700">
                <svg class="w-6 h-6 fill-white" aria-label="Search content"><use xlink:href="#search" /></svg>
              </div>
              <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                <button class="flex-shrink-0 text-sm border-4 text-white py-1 px-2 rounded" type="button">
                  {{__('Search website')}}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
  </header>

  <section class="md:flex md:-mx-gutter">
    {% for post in posts %}
    <!-- article-preview -->
    <article class="article-preview my-gutter pb-gutter md:w-1/3 md:mx-gutter">
      <a class="article-preview_image" href="/blog/{{post.slug}}">
        <img class="article-preview_img" src="{{post.image or '/static/img/placeholder.svg'}}" />
      </a>
      <div class="article-preview_text">
        <h1 class="article-preview_heading">
          <a class="article-preview_heading-link" href="/blog/{{post.slug}}">{{ post.title | safe }}</a>
        </h1>
        <div class="mb-3">
          <ul>
            {% for category in post.categories %}
              <li>
                <a href="/blog?category={{category}}" class="inline px-3 py-1 text-xs text-white rounded mr-3 mb-3 bg-secondary" title="category">
                  {{ category }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
        <time class="article-preview_date">{{ post.published }}</time>
        <p class="article-preview_content">
          {{post.content | striptags | safe | truncate(200)}}
        </p>
      </div>
    </article>
    <!-- article-preview end -->
    {% endfor %}
  </section>

  <!-- Link to all news -->
  <section class="flex justify-center px-24">
    <a class="text-center w-1/4 block px-3 py-2 hover:text-white hover:bg-secondary border border-secondary" href="/blog" aria-label="{{__('View all news')}}">
      <span class="">{{__('View all news')}}</span>
    </a>
  </section>
  <!-- End of link to all news -->

  <!-- if events -->
  <section class="home_events lg:w-2/3 my-gutter">
    <div class="overflow-hidden">
      <ul class="slider">
        {% for event in events %}
        <li>
          <a class="flex" href="/blog/{{ event.slug }}">
            <time class="flex flex-col justify-center text-white text-center px-6 py-4 {{'bg-primary' if event.completed else 'bg-secondary'}}">
              <span class="font-semibold text-3xl leading-none">{{ event.day }}</span> <span class="leading-none">{{ event.month }}</span>
            </time>
            <div class="px-6">
              <h3 class="font-semibold text-2xl text-primary">{{ event.title | safe }}</h3>
              <p>
                {{ event.excerpt | striptags | safe | truncate(120) or event.content | striptags | safe | truncate(120) }}
              </p>
            </div>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>

  </section>
  <!-- end if -->

  <section id="tweets-container" class="md:flex flex-wrap md:-mx-gutter list-none">
  <div class="my-gutter px-3 md:w-1/3 flex">
    <li class="inline-block bg-gray-900 text-white p-10 ">
      <h3 class="font-semibold text-2xl">{{ aboutTitle | safe }}</h3>
      <p class="leading-relaxed">
        {{ aboutText | safe | truncate(300) }}
      </p>
      <a class="font-semibold text-white" href="/about">{{__('More')}}</a>
    </li>
    </div>
    <div id="tweets" class="twitter-feed"></div>
  </section>

</div>
{% endblock %}

{% block scripts %}

<script src="//cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.1/min/tiny-slider.js"></script>

<script src="/static/js/twitterFetcher_min.js"></script>

<script>
  // slider
  var slider = tns({
    container: '.slider',
    controls: false
  });

  // Twitter
  var configProfile = {
    "profile": {"screenName": 'OpenDataDK'},
    "domId": 'tweets',
    "maxTweets": 5,
    "showUser": true,
    "showTime": false,
    "showImages": false, //https://github.com/jasonmayes/Twitter-Post-Fetcher/issues/182
    "showRetweet": false
  };
  twitterFetcher.fetch(configProfile);

  window.onload =  async function(){
    var tweetscontainer = document.getElementById('tweets-container');
    var tweetslist = document.getElementById('tweets');
    var innerblock = "";
      for ( var i = 0; i < tweetslist.childNodes[0].childNodes.length; i++) {
            tweetslist.childNodes[0].childNodes[i].className = "bg-gray-200 p-6";
            innerblock += '<div class=\"my-gutter px-4 md:w-1/3\  flex twitter-feed"> '+tweetslist.childNodes[0].childNodes[i].outerHTML+'</div>';

      }
      tweetscontainer.removeChild(tweetslist)
      tweetscontainer.innerHTML+= innerblock
  };
</script>
{% endblock %}
