{% extends "base.html" %}

{% block title %}
Welcome - Home
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.1/tiny-slider.css">
{% endblock %}

{% block bodyclass %}home{% endblock %}

{% block content %}
<div class="container mx-auto px-gutter">
  <header class="mb-gutter">
    <h1 class="home_h1">Velkommen til Open Data DK</h1>

    <div class="lg:flex mt-gutter">
      <ul class="featured-groups">
        <li class="featured-groups_item">
          <a href="/collections/gron-omstilling-og-open-data" class="featured-groups_link">
            <span class="featured-groups_icon">
              <img src="/static/img/groups/climate.svg" class="featured-groups_img" />
            </span>
            <span class="featured-groups_name">Se Energi og klima</span>
          </a>
        </li>
        <li class="featured-groups_item">
          <a href="/collections/kultur" class="featured-groups_link">
            <span class="featured-groups_icon">
              <img src="/static/img/groups/culture.svg" class="featured-groups_img" />
            </span>
            <span class="featured-groups_name">Kultur</span>
          </a>
        </li>
        <li class="featured-groups_item">
          <a href="/collections/mobilitet" class="featured-groups_link">
            <span class="featured-groups_icon">
              <img src="/static/img/groups/mobility.svg" class="featured-groups_img" />
            </span>
            <span class="featured-groups_name">Mobilitet</span>
          </a>
        </li>
        <li class="featured-groups_item">
          <a href="/collections/turisme" class="featured-groups_link">
            <span class="featured-groups_icon">
              <img src="/static/img/groups/tourism.svg" class="featured-groups_img" />
            </span>
            <span class="featured-groups_name">Turisme</span>
          </a>
        </li>
      </ul>
      <!-- searchbox -->
      <form class="lg:w-1/3 text-white" action="/search" method="GET">
        <div class="home_search">
          <input type="text" class="bg-secondary pl-4 pr-12 py-3 text-lg w-full outline-none" placeholder="Search ..." name="q" required />
          <button class="absolute inset-y-0 right-0 px-3 outline-none" type="submit">
            <svg class="w-6 h-6 fill-white" aria-label="Search Datasets"><use xlink:href="#search" /></svg>
          </button>
        </div>
      </form>
      <!-- search box ended -->
    </div>
  </header>

  <section class="md:flex md:-mx-gutter">
    {% for post in posts %}
    <!-- article-preview -->
    <article class="article-preview my-gutter pb-gutter md:w-1/3 md:mx-gutter">
      <a class="article-preview_image" href="/blog/{{post.slug}}">
        <img class="article-preview_img" src="{{post.image or '/static/img/placeholder.svg'}}" />
      </a>
      <div class="article-preview_text">
        <h1 class="article-preview_heading">
          <a class="article-preview_heading-link" href="/blog/{{post.slug}}">{{ post.title }}</a>
        </h1>
        <time class="article-preview_date">{{ post.modified }}</time>
        <p class="article-preview_content">
          {{post.content | safe | truncate(200)}}
        </p>
      </div>
    </article>
    <!-- article-preview end -->
    {% endfor %}
  </section>

  <!-- if future events -->
  <section class="home_events lg:w-2/3 my-gutter">
    <div class="overflow-hidden">
      <ul class="slider">
        <!-- event --> <!-- TODO hard-coded -->
        <li>
          <a class="flex">
            <time class="flex flex-col justify-center bg-secondary text-white text-center px-6 py-4">
              <span class="font-semibold text-3xl leading-none">17</span> <span class="leading-none">jun</span>
            </time>
            <div class="px-6">
              <h3 class="font-semibold text-2xl text-primary">Sleep in the City - Kunst baseret på åbne data</h3>
              <p class="text-gray-500">
                I kunstværket Sleep in the City kombineres åbne data fra sensorer i Aarhus’ City Lab med søvndata og videokunst. Sensorerne i Aarhus måler luftkvalitet, trafik...
              </p>
            </div>
          </a>
        </li>
        <!-- event end -->
        <!-- event -->
        <li>
          <a class="flex">
            <time class="flex flex-col justify-center bg-secondary text-white text-center px-6 py-4">
              <span class="font-semibold text-3xl leading-none">17</span> <span class="leading-none">jun</span>
            </time>
            <div class="px-6">
              <h3 class="font-semibold text-2xl text-primary">Sleep in the City - Kunst baseret på åbne data</h3>
              <p class="text-gray-500">
                I kunstværket Sleep in the City kombineres åbne data fra sensorer i Aarhus’ City Lab med søvndata og videokunst. Sensorerne i Aarhus måler luftkvalitet, trafik...
              </p>
            </div>
          </a>
        </li>
        <!-- event end -->
      </ul>
    </div>

  </section>
  <!-- end if -->

  <section id="tweets-container" class="md:flex flex-wrap md:-mx-gutter list-none">
  <div class="my-gutter px-3 md:w-1/3 flex">
    <li class="inline-block bg-gray-900 text-white p-10 ">
      <h3 class="font-semibold text-2xl">Hvad er Open Data DK</h3>
      <p class="leading-relaxed">
        Open Data DK er en forening for danske kommuner og regioner. Formålet med Open Data DK er at skabe transparens i den offentlige forvaltning og skabe grobund for datadreven vækst. Data gøres åbne og frit tilgængelige for at understøtte produktivitet og innovation ved en højere grad af udnyttelse af data.
      </p>
      <a class="font-semibold text-white" href="#">More</a>
    </li>
    </div>
    <div id="tweets" class="twitter-feed"></div>
  </section>

</div>
{% endblock %}

{% block scripts %}
<script src="//cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.1/min/tiny-slider.js"></script>

<script src="/static/js/twitterFetcher_min.js"></script>

<script>
  // slider
  var slider = tns({
    container: '.slider',
    controls: false
  });

  // Twitter
  var configProfile = {
    "profile": {"screenName": 'OpenDataDK'},
    "domId": 'tweets',
    "maxTweets": 5,
    "showUser": true,
    "showTime": false,
    "showImages": false, //https://github.com/jasonmayes/Twitter-Post-Fetcher/issues/182
    "showRetweet": false
  };
  twitterFetcher.fetch(configProfile);
  
window.onload =  async function(){
  var tweetscontainer = document.getElementById('tweets-container');
  var tweetslist = document.getElementById('tweets');
  var innerblock = "";
    for ( var i = 0; i < tweetslist.childNodes[0].childNodes.length; i++) {
          tweetslist.childNodes[0].childNodes[i].className = "bg-gray-200 p-6";  
          innerblock += '<div class=\"my-gutter px-4 md:w-1/3\  flex twitter-feed"> '+tweetslist.childNodes[0].childNodes[i].outerHTML+'</div>';

    }
    tweetscontainer.removeChild(tweetslist)
    tweetscontainer.innerHTML+= innerblock
}

</script>
{% endblock %}
