{% extends "base.html" %}
{% import '_snippets.html' as snippets %}

{% block title %}
{{title}}
{% endblock %}

{% block bodyclass %}search{% endblock %}

{% block content %}
<div class="container mx-auto p-gutter">
  <nav class="breadcrumb" aria-label="breadcrumb">
    <ol>
      <li class="breadcrumb_item">
        <a class="breadcrumb_link" href="/">{{__('Home')}}</a>
      </li>
      <li class="breadcrumb_item">
        <a class="breadcrumb_link" href="/organization">{{__('Organizations')}}</a>
      </li>
      <li class="breadcrumb_item">
        <a class="breadcrumb_link" href="/{{owner.name}}" aria-current="page">{{ owner.title }}</a>
      </li>

    </ol>
  </nav>
</div>

<div class="container mx-auto md:flex p-gutter">
  <div class="md:w-1/3 md:mr-gutter">

    <div class="mb-gutter md:mr-10 md:pb-2">
      <img src="{{owner.avatar}}" class="mb-4 h-24">
      <h2 class="text-primary text-xl font-semibold">{{ owner.title }}</h2>
      <p class="py-2 text-sm">
        {{ owner.description | safe | truncate(200) }}
      </p>
    </div>

    <button id="filter-toggle" class="bg-primary w-full text-white mb-6 p-3 invisible md:hidden">
      Toggle filters
    </button>
    <div class="search-filters">
      {% include "./partials/search-filter.njk" %}
    </div>
  </div>

  <main class="md:w-2/3">

    <ul class="tabs mb-10" data-tabs>
    	<li class="tabs_item">
        <a class="tabs_link outline-none" data-tabby-default href="#datasets">{{__('Datasets')}}</a>
      </li>
    	<li class="tabs_item">
        <a class="tabs_link outline-none" href="#about">{{__('About')}}</a>
      </li>
    </ul>

    <div id="datasets">
      <!-- datasets tab content -->
      {% include "./partials/data-search-form.njk" %}
      {% include "./partials/data-search-results.njk" %}
      {% include "./partials/data-search-pagination.njk" %}
      <!-- datasets tab content end -->
    </div>

    <div id="about">
      <!-- about tab content -->
      <h1 class="text-3xl font-semibold">{{ owner.title }}</h1>

      <div class="content">
        <p>
          {{ owner.description | safe }}
        </p>
      </div>
      <!-- about tab content end -->
    </div>

  </main>
</div>

{% endblock %}

{% block scripts %}
<script src="//cdn.jsdelivr.net/gh/cferdinandi/tabby@12/dist/js/tabby.polyfills.min.js"></script>
<script>
  var filterToggle = document.getElementById("filter-toggle");
  var filterTarget = filterToggle.nextElementSibling;

  // hide filters
  filterTarget.setAttribute("data-expanded", "false");

  // show toggle
  filterToggle.classList.remove("invisible");

  // toggle filters with button
  filterToggle.onclick = function() {
    let expanded = filterToggle.getAttribute('aria-expanded') === 'true' || false;
    filterToggle.setAttribute('aria-expanded', !expanded);
    filterTarget.setAttribute("data-expanded", !expanded);
  }

  var tabs = new Tabby('[data-tabs]');

</script>
{% endblock %}
