{% extends "base.html" %}
{% import '_snippets.html' as snippets %}

{% block title %}
{{ title }}
{% endblock %}

{% block bodyclass %}search{% endblock %}

{% block content %}
<div class="container mx-auto p-gutter">
  <nav class="breadcrumb" aria-label="breadcrumb">
    <ol>
      <li class="breadcrumb_item">
        <a class="breadcrumb_link" href="/">Home</a>
      </li>
      <li class="breadcrumb_item">
        <a class="breadcrumb_link" href="/search" aria-current="page">Search</a>
      </li>
    </ol>
  </nav>
</div>

<div class="container mx-auto md:flex p-gutter">
  <button id="filter-toggle" class="bg-primary w-full text-white mb-6 p-3 invisible md:hidden">
    Toggle filters
  </button>

  <div class="search-filters md:w-1/3 md:mr-gutter">
    {% include "./partials/search-filter.njk" %}
  </div>

  <main class="md:w-2/3">

    <!-- Form -->
    <form action="/search" method="GET">
      <div class="relative mb-10">
        <input type="text" class="border-2 border-solid border-gray-100 py-4 pl-4 pr-20 text-xl outline-none focus:border-secondary w-full" placeholder="Search datasets" name="q" value="{{ query.q }}" autofocus>

        <button class="absolute inset-y-0 right-0 w-16 px-4 text-secondary fill-current" type="submit" aria-label="Submit">
          <svg class="w-full h-full"><use xlink:href="#search" /></svg>
        </button>
      </div>

      <div class="lg:flex items-center justify-between">
        <h1 class="text-4xl font-semibold text-primary">{{ result.count }} datasets found</h1>

        <div>
          <label for="field-order-by">Order by:</label>
          <select class="bg-white" id="field-order-by" name="sort">
            <option value="score:desc" {% if query.sort == "score:desc" %}selected="selected"{% endif %}>Relevance</option>
            <option value="title_string:asc" {% if query.sort == "title_string:asc" %}selected="selected"{% endif %}>Name Ascending</option>
            <option value="title_string:desc" {% if query.sort == "title_string:desc" %}selected="selected"{% endif %}>Name Descending</option>
            <option value="metadata_modified:desc" {% if query.sort == "metadata_modified:desc" %}selected="selected"{% endif %}>Last Modified</option>
            <option value="views_recent:desc" {% if query.sort == "views_recent:desc" %}selected="selected"{% endif %}>Popular</option>
          </select>
        </div>
      </div>


      <p class="mt-5">
        <span class="py-2 mr-1">Organizations:</span>

        <span class="bg-secondary text-white px-3 py-1 mx-1 fill-current inline-flex items-center">Item two
          <a href="#" class="ml-3" aria-label="Remove">
            <svg class="w-3 h-3"><use xlink:href="#cross" /></svg>
          </a>
        </span>
      </p>
    </form>
    <!-- End of Form -->

    <ul>
      {% for package in result.results  %}
      <li class="mt-10">
        <div>
          <h3 class="text-2xl font-semibold text-primary">
            <a href="/{{ package.organization.name or 'dataset' }}/{{ package.name }}">{{ package.title or package.name }}</a>
          </h3>
          <a href="/{{ package.organization.name or 'dataset' }}" class="text-gray-500 block mt-1">
            {{ package.organization.name or 'dataset' }}
          </a>
          <div class="leading-relaxed mt-2">
            {% if package.readmeSnippet %}
            <p>
              {{ package.readmeSnippet }}
            </p>
            {% elif package.readmeHtml %}
            <p>
              {{ package.readmeHtml|safe }}
            </p>
            {% elif package.description %}
            <p>
              {% if package.description|length > 200 %}
                {{ package.description|truncate(200) }}
              {% else %}
                {{ package.description }}
              {% endif %}
            </p>
            {% endif %}
          </div>
        </div>

        <ul class="mt-2">
          {% for resource in package.resources %}
          {% if resource.format %}
          <li class="inline">
            <a href="/{{ package.organization.name or 'dataset' }}/{{ package.name }}" data-format="{{ resource.format }}" class="bg-gray-100 text-sm text-gray-500 px-2 py-1">{{ resource.format }}</a>
          </li>
          {% endif %}
          {% endfor %}
        </ul>
      </li>
      {% endfor %}
    </ul>

    <!-- Pagination -->
    {% if result.count > 10 %}
      <nav aria-label="Datasets" class="mt-gutter pt-gutter text-sm">
        <ul class="inline-flex border border-gray-100">
          <li class="border border-gray-100">
            <a class="block px-3 py-2" href="/search?q={{ query.q }}&from=0" aria-label="Previous">
              <span class="">Previous</span>
            </a>
          </li>
          {% for page in pages %}
            {% if page == '...' %}
            <li class="border border-gray-100">
              <span class="block px-3 py-2">{{page}}</span>
            </li>
            {% else %}
            <li class="border border-gray-100">
              <a class="block px-3 py-2 {{ 'bg-secondary' if currentPage == page }}" href="/search?q={{ query.q }}&from={{ (page - 1) * 10 }}">{{page}}</a>
            </li>
            {% endif %}
          {% endfor %}
          <li class="border border-gray-100">
            <a class="block px-3 py-2" href="/search?q={{ query.q }}&from={{ result.count - (result.count % 10) | int }}" aria-label="Next">
              <span class="">Next</span>
            </a>
          </li>
        </ul>
      </nav>
    {% endif %}
    <!-- end of pagination -->

  </main>
</div>
{% endblock %}
