{% extends "base.html" %}
{% import '_snippets.html' as snippets %}
{% import '_instructions.html' as instructions %}

{% block title %}
{{dataset.title or dataset.name}} - {{__('Dataset')}}
{% endblock %}

{% block content %}

<div class="container mx-auto p-gutter">
  <nav class="breadcrumb" aria-label="breadcrumb">
    <ol>
      <li class="breadcrumb_item">
        <a class="breadcrumb_link" href="/">{{__('Home')}}</a>
      </li>
      <li class="breadcrumb_item">
        <a class="breadcrumb_link" href="/search">{{__('Data')}}</a>
      </li>
      <li class="breadcrumb_item">
        <a class="breadcrumb_link" href="/search/{{ dataset.name }}" aria-current="page">{{ dataset.title or dataset.name }}</a>
      </li>
    </ol>
  </nav>
</div>

<div class="container mx-auto lg:flex p-gutter">
  <!-- info -->
  <div class="lg:w-2/3">

    <h1 class="text-4xl font-semibold mb-3">
      {{ dataset.title or dataset.name }}
    </h1>

    <!-- full readme -->
    {% if dataset.readmeHtml %}
      <div class="leading-relaxed">{{dataset.readmeHtml|safe}}</div>
    {% elif dataset.description %}
      <div class="leading-relaxed">{{dataset.descriptionHtml or dataset.description}}</div>
    {% endif %}
    <!-- end of full readme -->


    <h2 class="text-2xl font-semibold mt-gutter mb-4">{{ dataset.resources | length }} data file{% if dataset.resources | length > 1 %}s{% endif %}</h2>

    <!-- data files (downloads) -->
    <ul>
      {% for resource in dataset.resources %}
      <!-- data file -->
      <li class="mb-6">
        <h3 class="text-2xl font-semibold">
          <a href="#resource-{{resource.name}}" class="text-secondary">{{resource.title or resource.name}}</a>
        </h3>
        <p>
          {{ resource.descriptionHtml|safe or resource.title }}
        </p>
        <nav>
          <a class="data-file-type" href="{{ resource.downloadPath }}">
            <dl class="data-file-type_inner">
              <dt class="data-file-type_term">
                {{__('Download')}} {% if resource.format %}({{ resource.format }}){% endif %}
              </dt>
              {% if resource.size %}
              <dd class="data-file-type_size">
                [{{resource.size}}]
              </dd>
              {% endif %}
            </dl>
          </a>
          {% for alt in resource.otherFormats %}
          <a class="data-file-type" href="/{{ owner.name }}/{{ dataset.name }}/r/{{ resource.name }}.{{ alt.format }}{{ '?v='+revisionId if revisionId }}">
            <dl class="data-file-type_inner">
              <dt class="data-file-type_term">
                {{alt.format}}
              </dt>
              <dd class="data-file-type_size">
                {{alt.prettyBytes}}
              </dd>
            </dl>
          </a>
          {% endfor %}
        </nav>
      </li>
      <!-- data file end -->
      {% endfor %}
    </ul>
  </div>
  <!-- info end -->

  <!-- meta -->
  <div class="lg:w-1/3 lg:ml-gutter lg:pl-10">
    <div class="">
      <h2 class="bg-gray-200 px-4 py-3 font-bold mb-4">{{__('Organization')}}</h2>
      <img src="{{ owner.avatar or '/static/img/org.svg'}}" class="m-4 h-24" />

      <a class="px-4 text-primary text-xl font-semibold" href="/{{ owner.name }}">{{ owner.title }}</a>

      <p class="px-4 py-2 text-sm">
        {{ owner.description | safe | truncate(200) | replace("<a", "")  }} <a href="/{{ owner.name }}" class="text-primary font-bold">Læs mere</a>
      </p>

      <!-- Metadata -->
      <h2 class="bg-gray-200 px-4 py-3 font-bold mt-4 mb-1">{{__('Metadata')}}</h2>
      <div class="px-4 py-2 text-sm">
        <dl class="info-list">
          {% if dataset.sources %}
          <dt class="info-list_title">Forfatter</dt>
          <dd class="info-list_description">
            {{snippets.listify(dataset.sources)}}
          </dd>
          {% endif %}
          <dt class="info-list_title">Opdateret</dt>
          <dd class="info-list_description">
            {{ dataset.metadata_modified | formatDateFromNow }}
          </dd>
          <dt class="info-list_title">Oprettet</dt>
          <dd class="info-list_description">
            {{ dataset.metadata_created | formatDate}}
          </dd>
          <!-- Show extras -->
          {% for item in dataset.extras %}
            {% if item.key === 'data_quality' %}
              {% set fieldName = 'Datakvalitet' %}
            {% elif item.key === 'office' %}
              {% set fieldName = 'Kontor' %}
            {% elif item.key === 'office_email' %}
              {% set fieldName = 'Kontor email' %}
            {% elif item.key === 'quality_note' %}
              {% set fieldName = 'Kvalitetsnote' %}
            {% elif item.key === 'update_frequency' %}
              {% set fieldName = 'Opdater frekvens' %}
            {% endif %}
            <dt class="info-list_title">{{fieldName or item.key}}</dt>
            <dd class="info-list_description">
              {{item.value}}
            </dd>
          {% endfor %}
          <!-- End of extras -->
          {% if dataset.license %}
          <dt class="info-list_title">Licens</dt>
          <dd class="info-list_description">
            {{snippets.listify([dataset.license])}}
          </dd>
          {% endif %}
        </dl>
      </div>
      <!-- Metadata -->

      <!-- share links -->
      <h2 class="bg-gray-200 px-4 py-3 font-bold mt-4 mb-1">{{__('Share')}}</h2>
      <ul class="text-sm">
        <li class="border-b-2 border-gray-200">
          <a class="block px-4 py-3 text-primary hover:text-secondary" href="https://twitter.com/intent/tweet?url={{thisPageFullUrl}}&text={{dataset.title or dataset.name}}" target="_blank">Twitter</a>
        </li>
        <li>
          <a class="block px-4 py-3 text-primary hover:text-secondary" href="https://www.facebook.com/sharer/sharer.php?u={{thisPageFullUrl}}" target="_blank">Facebook</a>
        </li>
      </ul>
      <!-- share links end -->

    </div>
  </div>
  <!-- meta end -->

</div>


{% for view in dataset.views %}
{% set viewName = view.resources[0].name or view.resources[0] %}
<!-- view -->
<div class="resource">
  <div class="container mx-auto p-gutter">
    <div class="">
      <!-- Heading for each view -->
      <h2 id="resource-{{viewName}}" class="text-2xl font-semibold mb-6">
        {{view.title}}
      </h2>

      <!-- Placeholder div elements for React components: preview tables -->
      <div id="datapackage-view-{{view.id}}" class="react-me text-sm"></div>
      <!-- End of div elements for React -->
      <p class="text-sm my-4">
        Dette er en eksempelversion. Der er muligvis flere data i den originale version.
      </p>

      {% if view.resources[0].schema %}
       <h3 class="text-lg font-semibold mt-gutter mb-2">{{__('Field information')}}</h3>
       <table class="w-full">
         <thead>
           <tr>
             <th class="text-left text-sm py-1">{{__('Field Name')}}</th>
             <th class="text-left text-sm py-1">{{__('Order')}}</th>
             <th class="text-left text-sm py-1">{{__('Type (Format)')}}</th>
             <th class="text-left text-sm py-1">{{__('Description')}}</th>
           </tr>
         </thead>
         <tbody>
           {% for field in view.resources[0].schema.fields %}
           <tr>
             <th class="text-left border-t-2 border-gray-200 text-sm py-1">{{field.name}}</th>
             <td class="text-left border-t-2 border-gray-200 text-sm py-1">{{loop.index}}</td>
             <td class="text-left border-t-2 border-gray-200 text-sm py-1" data-type="{{field.type}}">{{field.type}} {% if field.format %}({{field.format}}) {% endif %}</td>
             <td class="text-left border-t-2 border-gray-200 text-sm py-1">{{field.description}}</td>
           </tr>
           {% endfor %}
         </tbody>
       </table>
     {% endif %}
    </div>

  </div>
</div>
<!-- resource end -->
{% endfor %}

<div class="react-me-datapackage-views" data-datapackage-json='{{ dpId | safe }}'></div>
{% endblock %}


{% block scripts %}
<script>

   function goToSearch() {
    var query = document.getElementById('search-input').value;
    window.location.href = '/search?q=' + query;
  }
</script>

<link rel="stylesheet" media="screen" href="https://raw.githack.com/datopian/datapackage-views-js/681e1ff21a0daee03e8e81ad0ddc7c8bf682aee9/dist/css/main.css">
<script type="text/javascript" src="https://rawcdn.githack.com/datopian/datapackage-views-js/681e1ff21a0daee03e8e81ad0ddc7c8bf682aee9/dist/js/main.js"></script>

{% endblock %}
