{% extends "base.html" %}
{% import '_snippets.html' as snippets %}
{% import '_instructions.html' as instructions %}

{% block title %}
{{dataset.title or dataset.name}} - Dataset
{% endblock %}

{% block content %}

<div class="container mx-auto p-gutter">
  <nav class="breadcrumb" aria-label="breadcrumb">
    <ol>
      <li class="breadcrumb_item">
        <a class="breadcrumb_link" href="/">Home</a>
      </li>
      <li class="breadcrumb_item">
        <a class="breadcrumb_link" href="/search">Data</a>
      </li>
      <li class="breadcrumb_item">
        <a class="breadcrumb_link" href="/search/{{ dataset.name }}" aria-current="page">{{ dataset.title or dataset.name }}</a>
      </li>
    </ol>
  </nav>
</div>

<div class="container mx-auto lg:flex p-gutter">
  <!-- info -->
  <div class="lg:w-2/3">

    <h1 class="text-4xl font-semibold mb-3">
      {{ dataset.title or dataset.name }}
    </h1>

    <!-- short readme -->
    {% if dataset.readmeSnippet %}
      <div class="leading-relaxed">{{dataset.readmeSnippet}} <a href="#readme" onclick="scrollDown(this)">read more</a></div>
    {% elif dataset.readmeHtml %}
      <div class="leading-relaxed">{{dataset.readmeHtml|safe}}</div>
    {% elif dataset.description %}
      {% if dataset.description|length > 250 %}
        <div class="leading-relaxed">{{dataset.description|truncate(200)}} <a href="#readme" onclick="scrollDown(this)">read more</a></div>
      {% else %}
        <div class="leading-relaxed">{{dataset.description}}</div>
      {% endif %}
    {% endif %}


    <h2 class="text-2xl font-semibold mt-gutter mb-4">{{ dataset.resources | length }} data file{% if dataset.resources | length > 1 %}s{% endif %}</h2>

    <!-- data files (downloads) -->
    <ul>
      {% for resource in dataset.downloads or dataset.resources %}
      <!-- data file -->
      <li class="mb-6">
        <h3 class="text-2xl font-semibold">
          <a href="#resource-{{resource.name}}">{{resource.name}}</a>
        </h3>
        <p>
          {{ resource.description or resource.title }}
        </p>
        <nav>
          <a class="data-file-type" href="/{{ owner.name }}/{{ dataset.name }}/r/{{ resource.name }}.{{ resource.format }}{{ '?v='+revisionId if revisionId }}">
            <dl class="data-file-type_inner">
              <dt class="data-file-type_term">
                {{ resource.format }}
              </dt>
              <dd class="data-file-type_size">
                {{resource.prettyBytes}}
              </dd>
            </dl>
          </a>
          {% for alt in resource.otherFormats %}
          <a class="data-file-type" href="/{{ owner.name }}/{{ dataset.name }}/r/{{ resource.name }}.{{ alt.format }}{{ '?v='+revisionId if revisionId }}">
            <dl class="data-file-type_inner">
              <dt class="data-file-type_term">
                {{alt.format}}
              </dt>
              <dd class="data-file-type_size">
                {{alt.prettyBytes}}
              </dd>
            </dl>
          </a>
          {% endfor %}
        </nav>
      </li>
      <!-- data file end -->
      {% endfor %}
    </ul>
  </div>
  <!-- info end -->

  <!-- meta -->
  <div class="lg:w-1/3 lg:ml-gutter lg:pl-10">
    <div class="">
      <h2 class="bg-gray-200 px-4 py-3 font-bold mb-4">Organization</h2>
      <img src="{{ owner.avatar or '../static/img/org.svg'}}" class="m-4 h-24" />

      <a class="px-4 text-primary text-xl font-semibold" href="/{{ owner.name }}">{{ owner.title }}</a>

      <p class="px-4 py-2 text-sm">
        {{ owner.description | truncate(200) }} <a href="/{{ owner.name }}" class="text-primary font-bold">Læs mere</a>
      </p>

      <!-- share links -->
      <h2 class="bg-gray-200 px-4 py-3 font-bold mt-4 mb-1">Share</h2>
      <ul class="text-sm">
        <li class="border-b-2 border-gray-200">
          <a class="block px-4 py-3 text-primary" href="https://twitter.com/intent/tweet?url={{thisPageFullUrl}}&text={{dataset.title or dataset.name}}" target="_blank">Twitter</a>
        </li>
        <li>
          <a class="block px-4 py-3 text-primary" href="https://www.facebook.com/sharer/sharer.php?u={{thisPageFullUrl}}" target="_blank">Facebook</a>
        </li>
      </ul>
      <!-- share links end -->

      {% if dataset.license %}
      <h2 class="bg-gray-200 px-4 py-3 font-bold mt-4 mb-1">License</h2>
      <a class="text-sm block px-4 py-3 text-primary">
        {{snippets.listify([dataset.license])}}
      </a>
      {% endif %}

    </div>
  </div>
  <!-- meta end -->

</div>


{% for resource in dataset.resources %}
<!-- resource -->
<div class="resource">
  <div class="container mx-auto p-gutter">
    {% if resource.format !== 'zip' %}
    <div class="">
      <!-- Heading for each resource -->
      <h2 id="resource-{{resource.name}}" class="text-2xl font-semibold mb-6">
        {% if resource.title %}
        {{resource.title}}
        {% else %}
        {{resource.name}}
        {% endif %}
        &nbsp;
        <a href="/{{ owner.name }}/{{ dataset.name }}/r/{{ resource.name }}.{{ resource.format }}">
        </a>
      </h2>

      <!-- Placeholder div elements for React components: preview tables -->
      <div id="resource-{{loop.index - 1}}" class="react-me text-sm"
           data-type="resource-preview" data-resource="{{ loop.index - 1 }}"></div>
      <!-- End of div elements for React -->
      <p class="text-sm my-4">
        This is a preview version. There might be more data in <a href="/{{ owner.name }}/{{ dataset.name }}/r/{{ resource.name }}.{{ resource.format }}{{ '?v='+revisionId if revisionId }}">the original version.</a>
      </p>

      {% if resource.format == "csv" %}
       <h3 class="text-lg font-semibold mt-gutter mb-2">Field information</h3>
       <table class="w-full">
         <thead>
           <tr>
             <th class="text-left text-sm py-1">Field Name</th>
             <th class="text-left text-sm py-1">Order</th>
             <th class="text-left text-sm py-1">Type (Format)</th>
             <th class="text-left text-sm py-1">Description</th>
           </tr>
         </thead>
         <tbody>
           {% for field in resource.schema.fields %}
           <tr>
             <th class="text-left border-t-2 border-gray-200 text-sm py-1">{{field.name}}</th>
             <td class="text-left border-t-2 border-gray-200 text-sm py-1">{{loop.index}}</td>
             <td class="text-left border-t-2 border-gray-200 text-sm py-1" data-type="{{field.type}}">{{field.type}} {% if field.format %}({{field.format}}) {% endif %}</td>
             <td class="text-left border-t-2 border-gray-200 text-sm py-1">{{field.description}}</td>
           </tr>
           {% endfor %}
         </tbody>
       </table>
     {% endif %}
    </div>
    {% else %}
    <!-- Placeholder div elements for React components: preview tables -->
    <div id="resource-{{loop.index - 1}}" class="react-me"
         data-type="resource-preview" data-resource="{{ loop.index - 1 }}"></div>
    <!-- End of div elements for React -->
    {% endif %}
  </div>
</div>
<!-- resource end -->
{% endfor %}


<div class="container mx-auto p-gutter">
  <div class="lg:flex justify-between">
    <!-- readme section -->
    {% if dataset.readmeSnippet or dataset.readmeHtml %}
    <div class="lg:w-2/3 lg:mr-gutter lg:pr-10">
      <div class="">
        <h2 id="readme" class="text-2xl font-semibold mt-gutter mb-2">Read me</h2>
        <div class="leading-relaxed">{{dataset.readmeHtml|safe}}</div>
      </div>
    </div>
    {% elif dataset.description %}
    <div class="lg:w-2/3 lg:mr-gutter lg:pr-10">
      <div class="">
        <h2 id="readme" class="text-2xl font-semibold mt-gutter mb-2">Read me</h2>
        <div class="leading-relaxed">{{dataset.description}}</div>
      </div>
    </div>
    {% endif %}<!-- end of readme section -->

    <!-- Additional info -->
    <div class="">
      <h2 class="text-2xl font-semibold mt-gutter mb-2">Additional information</h2>
      <dl class="info-list">
        <dt class="info-list_title">
          Size
        </dt>
        <dd class="info-list_description">
          {{ size or 'N\A' }}
        </dd>
        <dt class="info-list_title">
          Format
        </dt>
        <dd class="info-list_description">
          {% for format in dataset.formats %}
            {{ format }}
          {% endfor %}
        </dd>
        <dt class="info-list_title">
          Created
        </dt>
        <dd class="info-list_description">
          {{ dataset.created }}
        </dd>
        <dt class="info-list_title">Updated</dt>
        <dd class="info-list_description">
          {{ dataset.modified }}
        </dd>
        {% if dataset.sources %}
        <dt class="info-list_title">Source</dt>
        <dd class="info-list_description">
          {{snippets.listify(dataset.sources)}}
        </dd>
        {% endif %}
      </dl>
    </div>

    <!-- Additional info end -->
  </div>

</div>
{% endblock %}


{% block scripts %}
<script>

   function goToSearch() {
    var query = document.getElementById('search-input').value;
    window.location.href = '/search?q=' + query;
  }


  // pass DP_ID to front-end -->
  var DP_ID = JSON.parse('{{ dpId | safe }}');
</script>

<link rel="stylesheet" media="screen" href="https://raw.githack.com/datopian/frontend-showcase-js/gh-pages/dist/main.css">
<script type="text/javascript" src="https://raw.githack.com/datopian/frontend-showcase-js/gh-pages/dist/bundle.js"></script>

{% endblock %}
