<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>
    {% block title%}{{title}}{% endblock %}
    - ENERGI DATA SERVICE
  </title>
  <meta name="author" content="Energinet">
  <meta name="keywords" content="{{keywords or 'energinet,eds,data,open data,datasets,public data,csv,json,excel,xml'}}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <!-- Twitter card -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="{{dataset.title or title}}" />
  <meta name="twitter:image" content="{{metaImage or '/static/img/ckan-logo.png'}}" />

  <!-- Open Graph -->
  <meta property="og:title" content="{{dataset.title or title}}" />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="Energinet" />
  <meta property="og:image" content="{{metaImage or '/static/img/ckan-logo.png'}}" />
  <meta property="og:image:alt" content="Energinet" />

  {% if metaDescription %}
  <meta name="description" content="{{metaDescription}}" />
  <meta name="twitter:description" content="{{metaDescription}}" />
  <meta property="og:description" content="{{metaDescription}}" />
  {% elif dataset and (dataset.description or dataset.readmeSnippet or dataset.readmeHtml) %}
  <meta name="description" content="{{dataset.description or dataset.readmeSnippet or dataset.readmeHtml|safe}}" />
  <meta name="twitter:description" content="{{dataset.description or dataset.readmeSnippet or dataset.readmeHtml|safe}}" />
  <meta property="og:description" content="{{dataset.description or dataset.readmeSnippet or dataset.readmeHtml|safe}}" />
  {% else %}
  <meta name="description" content="{{description or 'Open energy data from Energinet to society'}}">
  <meta name="twitter:description" content="{{description or 'Open energy data from Energinet to society'}}" />
  <meta property="og:description" content="{{description or 'Open energy data from Energinet to society'}}" />
  {% endif %}

  <link rel="apple-touch-icon" href="/static/img/energi-data-service-favicon-180.png" sizes="180x180">
  <link rel="icon" href="/static/img/energi-data-service-favicon-192.png" type="image/png" sizes="192x192">
  <link rel="shortcut icon" href="/static/img/energi-data-service-favicon-512.png" type="image/png" sizes="512x512">

  <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
  {% if dataset %}
  <link rel="stylesheet" media="screen" href="https://raw.githack.com/datopian/datastore-query-builder/master/dist/css/2.css">
  <link rel="stylesheet" media="screen" href="https://raw.githack.com/datopian/datastore-query-builder/master/dist/css/main.css">
  <link rel="stylesheet" media="screen" href="https://raw.githack.com/datopian/datapackage-views-js/master/dist/css/main.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.3/leaflet.css">
  {% endif %}
  <link rel="stylesheet" media="screen" href="/static/stylesheets/app.css">
  <link rel="stylesheet" media="screen" href="/static/stylesheets/main.css">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script id="ga-gtag" async></script>

  <script>
      document.getElementById("ga-gtag").src = "https://www.googletagmanager.com/gtag/js?id={{ $GA_ID }}";
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '{{ $GA_ID }}', {
          'custom_map': {
              'dimension1': 'downloaded data type',
              'dimension2': 'downloaded data format'
          }
      });
  </script>

</head>
<body class="{% block bodyclass %}{{bodyclass}}{% endblock %} bg-white">

{% if message.length > 0 %}
<div class="container">
  <div class="inner_container">
    <div class="alert alert-danger" role="alert">{{ message | safe }}</div>
  </div>
</div>
{% endif %}

<div class="text-sm font-hairline">
  <div class="bg-white">
    <div class="container flex justify-end relative">
      <img class='w-6 inline' src="/static/img/svg/globe-icon.svg">
      <select onchange="languageSwitcher(this)" class="block appearance-none text-edsgreen pl-2 rounded leading-tight bg-white">
        <option value="en" data-language="en" data-language-name="English"><a href="#">ENGLISH</a></option>
        <option value="da" data-language="da" data-language-name="Danish"><a href="#">DANISH</a></option>
      </select>
      <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center py-3 px-4 text-edsgreen">
        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
      </div>
    </div>
  </div>

  <!-- Navbar -->
  <div class="bg-edsgray p-8">
    <div class="container">
      <div class="flex justify-between">
        <div class="flex content-center">
          <img class='w-24 inline' src="/static/img/svg/edp-logo-cube.svg">
          <img class='w-64 inline px-8' src="/static/img/svg/edp-logo-text.svg">
        </div>
        {% if title!="Home" %}
        <div class="text-edsgreen flex flex-wrap content-center">
          <div class="text-3xl"><i class="fa fa-home"></i></div>
          <a class="p-2" href="/">GO TO FRONTPAGE</a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  <!-- End of navbar -->
</div>
{% block content %}{{content}}{% endblock %}


<!-- Footer Sections -->
<footer class="site-footer bg-edsgreen">
  <div class="container py-20">
    <div class="lg:flex">
      <div class="lg:w-1/4 p-10">
        <a href="http://energinet.dk/" target="blank"><img class="w-48 mb-20" src="/static/img/energinet-logo.svg" width="160" height="40" alt="Energinet logo"></a>
        <p class="text-sm font-hairline">
          {{__('Energi Data Portalen is a portal that collects all services and questions related to the open energy data that Energinet offers.')}}
        </p>
      </div>

      <div class="lg:w-1/4 p-10">
        <div class="flex">
          <div class="w-1/5 text-3xl">
            <span>&#x24d8</span>
          </div>
          <div class="w-4/5 py-1 uppercase"><a href="/about">{{__('About')}}</a></div>
        </div>
        <div class="flex">
          <div class="w-1/5 text-4xl">
            <i class="fa fa-question-circle-o" aria-hidden="true"></i>
          </div>
          <div class="w-4/5 py-2 uppercase"><a href="/faq">{{__('FAQ')}}</a></div>
        </div>
        <div class="flex">
          <div class="w-1/5 text-3xl">
            <span>&#x24d8</span>
          </div>
          <div class="w-4/5 py-1 uppercase"><a href="/contact">{{__('Contact')}}</a></div>
        </div>
      </div>

      <div class="lg:w-1/4 p-10">
        <p>Info:</p>
        <p><a href="mailto:energidata@en%65rgi%6Eet.dk">energidata@energinet.dk</a></p>
        <p>+45 70 10 22 44</p>
        <p>ENERGINET</p>
        <p>TONNE KJÆRSVEJ 65</p>
        <p>7000 FREDERICIA</p>
        <p>DANMARK</p>
      </div>

      <div class="lg:w-1/4 p-10">
        <p>{{__('Powered by')}}</p>
        <div class="py-5"><a href="https://ckan.org"><img class="w-24" src="/static/img/ckan-logo.svg"></a></div>
        <div class="py-5"><a href="https://git-scm.com/"><img class="w-24" src="/static/img/git-logo.png"></a></div>
        </u>
      </div>
    </div>

  </div>
</footer>
<!-- end of footer -->

{% block scripts %}{% endblock %}

<script>
  // Switch languages:
  function languageSwitcher(el) {
    var language = el.value;
    document.cookie = 'defaultLocale=' + language;
    location.reload();
  }
</script>

</body>

</html>
