{% extends "base-eds.html" %}

{% block title%}{{title}} - Blog{% endblock %}

{% block bodyclass %}blog{% endblock %}

{% block content %}
<!-- blog home page test placeholder -->
<div class="container text-sm font-hairline text-edsgreen">
  <div class="w-full p-20">
      {% for post in posts %}
      <div class="w-full">
        <a href="/news/{{post.slug}}">
          <h2>{{post.title}}</h2>
        </a>
        <p class="text-gray-400">
          <i class="fa fa-calendar-o" aria-hidden="true"></i> {{post.modified}}
        </p>
        {{post.content | safe | truncate(100)}}
        <p><a href="/news/{{post.slug}}">Read more</a></p>
      </div>
      {% endfor %}
  </div>
</div>
{% endblock %}
