{% extends "base.html" %}
{% import '_snippets.html' as snippets %}

{% block title %}
{{ item.title }}
{% endblock %}

{% block bodyclass %}search{% endblock %}

{% block content %}
<!-- collection page test placeholder -->
<div role="main">
  <div id="content" class="container-fluid">
    <div class="toolbar">
      <ol class="breadcrumb">
        <li class="home"><a href="/"><i class="fa fa-home"></i><span> Home</span></a></li>
        <li><a href="/collections">{{__('Groups')}}</a></li>
        <li class="active"><a class=" active" href="/collections/{{ item.name }}">{{ item.title }}</a></li>
      </ol>
    </div>
    <div class="row wrapper">
      <div class=" col-md-12 ">
        <div class="flash-messages">
        </div>
      </div>
      <div class="col-md-10 col-md-offset-1">
      </div>
      <aside class="col-md-3">
        <div class="module context-info">
          <section class="module-content">
            <div class="image">
              <a href="">
                <img src="{{ item.image }}" width="190" height="118" alt="{{ item.name }}" />
              </a>
            </div>
            <h1 class="heading">
              {{ title }}
            </h1>
            <p>
              {{ item.summary|truncate(95) }}
            </p>
            <div class="nums">
              <dl>
                <dt>{{__('Datasets')}}</dt>
                <dd><span>{{ item.count }}</span></dd>
              </dl>
            </div>
            <div class="follow_button">
            </div>
          </section>
        </div>
        <div class="filters">
          {% include "./partials/search-filter.njk" %}
          <a class="close no-text hide-filters"><i class="fa fa-times-circle"></i><span class="text">close</span></a>
        </div>
      </aside>
      <div class="col-md-9 ">
        <article class="module">
          <div class="module-content">
            {% include "./partials/data-search-form.njk" %}
            {% include "./partials/data-search-results.njk" %}
          </div>
          {% include "./partials/data-search-pagination.njk" %}
        </article>
      </div>
    </div>
  </div>
</div>
{% endblock %}
