{% extends "base-home.html" %}

{% block title %}
Welcome - Home
{% endblock %}

{% block content %}
<div class="text-sm font-hairline">
  <div class="bg-white">
    <div class="container flex justify-end">
      <i class="fa fa-globe text-edsgreen pt-2" aria-hidden="true"></i>
      <select onchange="languageSwitcher(this)" class="block appearance-none text-edsgreen pl-2 rounded leading-tight bg-white">
        <option value="en" data-language="en" data-language-name="English"><a href="#">ENGLISH</a></option>
        <option value="da" data-language="da" data-language-name="Danish"><a href="#">DANISH</a></option>
      </select>
      <i class="fa fa-angle-down text-edsgreen pt-2" aria-hidden="true"></i>
    </div>
  </div>

  <!-- Navbar -->
  <div class="bg-edsgray p-10">
    <div class="container">
      <img class='w-24' src="/static/img/ckan-logo.png">
    </div>
  </div>
  <!-- End of navbar -->

  <div class="container mx-auto px-gutter bg-white my-20">

    <!-- Section 1: 3 services -->
    <div class="flex mb-4">
      <div class="flex mb-4 mr-2">

        <div class="inline-block bg-edsdarkgreen text-white flex content-center flex-wrap justify-center p-10">
         <img src="/static/img/ckan-logo.png">
        </div>

        <div class="inline-block bg-edsgreen text-white p-16">
          <p>
            Energinet generates and harvest large amounts of energy data. Through Energi Data Service, we make these data available to
          </p>
          <a class="text-yellow-500" href="/search">GO TO SERVICE &rsaquo;</a>
        </div>

      </div>

      <div class="flex mb-4 mx-2">

        <div class="inline-block bg-edsdarkgreen text-white flex content-center flex-wrap justify-center p-10">
          <img src="/static/img/ckan-logo.png">
        </div>

        <div class="inline-block bg-edsgreen text-white p-16">
          <p>
            Marketdata enables you to download a range of market relevant data manually for insights into market trends etc.        </p>
          <a class="text-yellow-500" href="/marketdata">GO TO SERVICE &rsaquo;</a>
        </div>

      </div>

      <div class="flex mb-4 ml-2">

        <div class="inline-block bg-edsdarkgreen text-white flex content-center flex-wrap justify-center p-10">
          <img src="/static/img/ckan-logo.png">
        </div>

        <div class="inline-block bg-edsgreen text-white p-16">
          <p>
            Express any idea that you might have in relation to the use of data, and we will test it with you. We are open to any ideas!        </p>
          <a class="text-yellow-500" href="/open-door-lab">GO TO SERVICE &rsaquo;</a>
        </div>
      </div>
    </div>
    <!-- End of section 1 -->

    <!-- Section 2: quick facts charts and reports for download -->
    <div class="flex mb-4 my-20">
      <div class="w-9/12 mr-6 h-full">
        <div class="flex h-1/2 mb-1">
          <div class="w-2/3 pr-1">
            <div class="react-me bg-gray-200 h-1/1" id="quick-fact-0">
              <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
            </div>
          </div>
          <div class="w-1/3">
            <div class="react-me bg-gray-200 h-1/1" id="quick-fact-1">
              <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
            </div>
          </div>
        </div>
        <div class="flex h-1/2">
          <div class="w-1/3 pr-1">
            <div class="react-me bg-gray-200 h-1/1" id="quick-fact-2">
              <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
            </div>
          </div>
          <div class="w-1/3 pr-1">
            <div class="react-me bg-gray-200 h-1/1" id="quick-fact-3">
              <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
            </div>
          </div>
          <div class="w-1/3">
            <div class="react-me bg-gray-200 h-1/1" id="quick-fact-4">
              <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-3/12 ml-8 text-edsgreen">
        <h2 class="text-6xl uppercase font-thin">Reports for download</h2>
        <p class="text-2xl uppercase">Energinet offers a range of services offering open datasets for free use by anyone. These are available for download.</p>
        <p class="text-2xl">Furthermore, you can see these shortcuts for easy access to the most popular datasets:</p>
        <div class="flex mb-4">
          <div class="w-1/5"><img class="w-24" src="/static/img/dataguide-icons/Elektricitet@3x.png"></div>
          <div class="w-4/5 text-2xl py-8"><a href="/collections/production-and-consumption">PRODUCTION AND USE</a></div>
        </div>
        <div class="flex mb-4">
          <div class="w-1/5"><img class="w-24" src="/static/img/dataguide-icons/Penge@3x.png"></div>
          <div class="w-4/5 text-2xl py-8"><a href="/collections/whole-sale-market">WHOLE SALE MARKET</a></div>
        </div>
        <div class="flex mb-4">
          <div class="w-1/5"><img class="w-24" src="/static/img/dataguide-icons/Samarbejde@3x.png"></div>
          <div class="w-4/5 text-2xl py-8"><a href="/collections/ancillaryservices">SYSTEM PERFORMANCE</a></div>
        </div>
        <div class="flex mb-4">
          <div class="w-1/5"><img class="w-24" src="/static/img/dataguide-icons/El-mast@3x.png"></div>
          <div class="w-4/5 text-2xl py-8"><a href="/collections/transmission-lines">TRANSMISSION LINES</a></div>
        </div>
        <div class="flex mb-4">
          <div class="w-1/5"><img class="w-24" src="/static/img/dataguide-icons/CO2@3x.png"></div>
          <div class="w-4/5 text-2xl py-8"><a href="/collections/co2-emission">CO2 EMISSIONS</a></div>
        </div>
        <div class="flex mb-4">
          <div class="w-1/5"><img class="w-24" src="/static/img/dataguide-icons/Gas@3x.png"></div>
          <div class="w-4/5 text-2xl py-8"><a href="/collections/gas-quality">GAS</a></div>
        </div>
      </div>
    </div>
    <!-- End of section 2 -->

    <!-- Section 3: News and operational status -->
    <div class="flex mb-4 my-20">

      <!-- List of news -->
      <div class="w-1/4 mr-2">
        <h2 class="text-6xl uppercase font-thin text-edsgreen">News</h2>
        <div class="after:news relative max-w-full mt-0 mr-auto mb-5 ml-4">
          {% for item in posts %}
            <div class="relative px-12 py-2 border-gray-300 border-solid border-1">
              <a class="{{'after:post-last' if loop.index0 == 0 else 'after:post'}}" href="/news/{{ item.slug }}">{{ item.title }}</a>
              <p>
                <span class="text-gray-400 text-sm">{{ item.published }}</span>
              </p>
            </div>
          {% endfor %}
        </div>
        <a class="text-edsgreen uppercase" href="/news">See all news &rsaquo;</a>
      </div>
      <!-- End of list of news -->

      <!-- Latest news -->
      <div class="w-2/4 bg-gray-200 mx-2 p-8 text-gray-600">
        <div class="text-6xl uppercase">{{ posts[0].title }}</div>
        <hr>
        <div class="text-4xl">{{ posts[0].published }}</div>
        <p>{{ posts[0].content | safe }}</p>
      </div>
      <!-- End of latest news -->

      <!-- Operational status -->
      <div class="w-1/4 ml-4  text-white">
          <div class="inline-block bg-edsgreen p-8">
            <p> OPERATIONAL STATUS</p>
            <div class="flex mb-4">
              <div class="w-1/4 text-yellow-500">14.10.19</div>
              <div class="w-3/4">Update planed for next monday.</div>
            </div>
            <div class="flex mb-4">
              <div class="w-1/4 text-yellow-500">14.10.19</div>
              <div class="w-3/4">Update planed for next monday.</div>
            </div>
            <div class="flex mb-4">
              <div class="w-1/4 text-yellow-500">14.10.19</div>
              <div class="w-3/4">Update planed for next monday.</div>
            </div>
          </div>
      </div>
      <!-- End of operational status -->
    </div>
    <!-- End of section 3 -->


  </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function(){
      // Add smooth scrolling to all links
      $("a").on('click', function(event) {

        // Make sure this.hash has a value before overriding default behavior
        if (this.hash !== "") {
          // Prevent default anchor click behavior
          event.preventDefault();

          // Store hash
          var hash = this.hash;

          // Using jQuery's animate() method to add smooth page scroll
          // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
          $('html, body').animate({
            scrollTop: $(hash).offset().top
          }, 800, function(){

            // Add hash (#) to URL when done scrolling (default click behavior)
            window.location.hash = hash;
          });
        } // End if
      });
    });
</script>
{% endblock %}
