{% extends "base.html" %}

{% block title %}
{{dataset.title or dataset.name}} - Dataset
{% endblock %}

{% block content %}

<!-- showcase page test placeholder -->

<div role="main">
  <div id="content" class="container-fluid">
    <div class="toolbar">
      <ol class="breadcrumb">
        <li class="home"><a href="/"><i class="fa fa-home"></i><span> Home</span></a></li>
        <li class="active"><a class=" active" href="/organization">{{__('Organizations')}}</a></li>
        <li class="active"><a class=" active" href="/{{ owner.name }}">{{ owner.title }}</a></li>
        <li class="active"><a class=" active" href="/{{ owner.name }}/{{ dataset.name }}">{{ dataset.title or dataset.name }}</a></li>
      </ol>
    </div>

    <!-- main section -->
    <div class="row wrapper">
      <div class="col-md-10 col-md-offset-1">
        <section class="module module-resource">
          <div class="module-content">
            <div class="actions">
              <!-- Buttons -->
              <ul>
                <li>
                  <button class="data-explorer-filters-toggle btn btn-primary" onclick="toggleFilters()">
                    <span class="fa fa-filter"></span>
                    <span class="fa-label">Filter</span>
                  </button>
                </li>
                <li>
                  <div class="btn-group data-explorer-download">
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="fa fa-download"></span><span class="fa-label">Full data</span>&nbsp;<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                      {% for item in dataset.downloads %}
                      <li>
                        <a href="{{ item.path }}" class="data-extract-btn" data-format="{{ item.format }}"  onclick="sendGAEvent('{{ dataset.name }}', '{{ dataset.resources[0].name }}', 'full data', '{{ item.format }}')">{{ item.format }}</a>
                      </li>
                      <br />
                      {% endfor %}
                    </ul>
                  </div>
                </li>
                <li>
                  <a class="btn btn-info" href="#metadata-info">
                    <span class="fa fa-file-text"></span><span class="fa-label">Metadata</span>
                  </a>
                </li>
                <li>
                  <button class="btn btn-success" data-toggle="modal" data-target="#data-api-info"><i class="fa fa-flask icon-large"></i> Data API</button>
                </li>
              </ul>
            </div>
            <h1 class="page-heading">{{ dataset.title }}</h1>
            <div class="data-explorer">
              <p class="lead">
                Total number of rows: <strong class="total-results" id="numberOfRows">{{ dataset.resources[0].rows }}</strong>
              </p>
              <hr />
              <!-- preview table -->
              {% for view in dataset.views %}
              <!-- Placeholder div elements for React components: preview tables -->
              <div class="panel panel-default data-explorer-filters" style="display:none;">
                <div class="panel-heading">
                  <h2 class="panel-title"><span class="fa fa-tasks"></span><span class="fa-label">Data Explorer Filters</span></h2>
                </div>
                <div class="panel-body">
                  <!-- filters -->
                  <div id="datapackage-filter-{{view.id}}" class="react-me">No data filters are assigned to this Data Explorer view yet. You are viewing an unfiltered version of the complete resource data.</div>
                </div>
              </div>
              <!-- preview tables -->
              <div id="datapackage-view-{{view.id}}" class="react-me tables"></div>
              <!-- End of div elements for React -->
              {% endfor %}
            </div>

            <!-- Data API modal -->
            <div class="modal fade" id="data-api-info" style="display: none;">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button class="close" data-dismiss="modal">×</button>
                    <h3 class="modal-title">
                      CKAN Data API
                    </h3>
                  </div>
                  <div class="modal-body">
                  <p><strong>Access resource data via a web API with powerful query support</strong>.
                     Further information in the <a href="http://docs.ckan.org/en/latest/maintaining/datastore.html" target="_blank">main CKAN Data API and DataStore documentation</a>.</p>
                  <div class="accordion" id="accordion2">
                    <div class="panel panel-default">
                      <div class="panel-heading">

                        <a class="accordion-toggle" data-toggle="collapse" data-parent="accordion2" href="#collapse-endpoints">Endpoints »</a>
                      </div>
                      <div id="collapse-endpoints" class="in panel-collapse collapse">
                        <div class="panel-body">
                          <p>The Data API can be accessed via the following actions of the CKAN action API.</p>
                          <div class="table-responsive">
                            <table class="table-condensed table-striped table-bordered">
                              <thead></thead>
                              <tbody>

                              <tr>
                                <th scope="row">Query</th>
                                <td><code>https://api.energidataservice.dk/datastore_search</code></td>
                              </tr>
                              <tr>
                                <th scope="row">Query (via SQL)</th>
                                <td><code>https://api.energidataservice.dk/datastore_search_sql</code></td>
                              </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="accordion2" href="#collapse-querying">Querying »</a>
                      </div>
                      <div id="collapse-querying" class="collapse panel-collapse in">
                        <div class="panel-body">
                          <strong>Query example (first 5 results)</strong>
                          <p>
                            <code><a href="https://api.energidataservice.dk/datastore_search?resource_id={{dataset.name}}&amp;limit=5" target="_blank">https://api.energidataservice.dk/datastore_search?resource_id={{dataset.name}}&amp;limit=5</a></code>
                          </p>

                          <strong>Query example (via SQL statement)</strong>
                          <p>
                            <code><a href="https://api.energidataservice.dk/datastore_search_sql?sql=SELECT * from &quot;{{dataset.name}}&quot; LIMIT 5" target="_blank">https://api.energidataservice.dk/datastore_search_sql?sql=SELECT * from "{{dataset.name}}" LIMIT 5</a></code>
                          </p>
                        </div>
                      </div>
                    </div>

                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="accordion2" href="#collapse-javascript">Example: Javascript »</a>
                      </div>
                      <div id="collapse-javascript" class="panel-collapse collapse">
                        <div class="panel-body">
                          <p>A simple ajax (JSONP) request to the data API using jQuery.</p>
                          <pre>  var data = {
                  resource_id: '{{dataset.name}}', // the resource id
                  limit: 5 // get 5 results
                };
                $.ajax({
                  url: 'https://api.energidataservice.dk/datastore_search',
                  data: data,
                  dataType: 'jsonp',
                  success: function(data) {
                    alert('Total results found: ' + data.result.total)
                  }
                });</pre>
                        </div>
                      </div>
                    </div>

                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="accordion2" href="#collapse-python">Example: Python »</a>
                      </div>
                      <div id="collapse-python" class="panel-collapse collapse">
                        <div class="panel-body">
                        <pre>import urllib2
              url = 'https://api.energidataservice.dk/datastore_search?resource_id={{dataset.name}}&amp;limit=5'
              fileobj = urllib2.urlopen(url)
              print fileobj.read()
              </pre>
                        </div>
                        <div class="panel-footer"><strong>NOTE: This snippet only works with python 2.</strong></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              </div>

              </div>
            <!-- End of Data API modal -->
          </div>
        </section>
      </div>
    </div>
    <!-- end of main section -->

    <!-- metadata section -->
    <div class="row" id="metadata-info">
      <div class="col-md-10 col-md-offset-1">
        <div class="row">
          <aside class="col-md-3">
            <section class="module module-narrow resources">
              <h2 class="module-heading"><i class="fa fa-files-o"></i> Resources</h2>
              <ul class="unstyled nav nav-simple">
                  <li class="nav-item active">
                    <a class=" active" href="/dataset/gasflow/resource_extract/f40147ba-8e83-438e-9e89-bfddd0cba81f?inner_span=True"><span>Commercial gas ...</span></a>
                  </li>
              </ul>
            </section>
            <section class="module module-narrow social">
                <h2 class="module-heading"><i class="fa fa-share-square-o"></i> Social</h2>
                <ul class="nav nav-simple">
                  <li class="nav-item"><a href="https://twitter.com/share?url=https://www.energidataservice.dk/dataset/gasflow/resource_extract/f40147ba-8e83-438e-9e89-bfddd0cba81f" target="_blank"><i class="fa fa-twitter-square"></i> Twitter</a></li>
                  <li class="nav-item"><a href="https://www.facebook.com/sharer.php?u=https://www.energidataservice.dk/dataset/gasflow/resource_extract/f40147ba-8e83-438e-9e89-bfddd0cba81f" target="_blank"><i class="fa fa-facebook-square"></i> Facebook</a></li>
                </ul>
            </section>
          </aside>
          <div class="col-md-9">
            {% for field in dataset.resources[0].schema.fields %}
              <div class="resource-attributes">
                <section class="module">
                  <div class="module-content">
                    <h2>{{ field.title or field.name }}</h2>
                    <table class="table table-striped table-bordered table-condensed">
                      <tbody>
                        {% for key, value in field %}
                        <tr>
                          <th scope="row">{{key}}</th>
                          <td>{{value}}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </section>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <!-- end of metadata section -->
  </div>
</div>

<div class="react-me-datapackage-views" data-datapackage-json='{{ dpId | safe }}'></div>
{% endblock %}

{% block scripts %}
<script>
  function toggleFilters() {
    var filtersElement = document.getElementsByClassName('data-explorer-filters')[0];
    if (filtersElement.style.display === 'none') {
      filtersElement.style.display = 'block';
    } else {
      filtersElement.style.display = 'none';
    }
  }

  // Track downloads of displayed data (filtered)
  var addDownlaodTrackersInterval = setInterval(addDownloadTrackers, 1000);
  function addDownloadTrackers() {
    var downloadables = document.getElementsByClassName('downloadables')[0];
    if (downloadables) {
      clearInterval(addDownlaodTrackersInterval);
      var downloadCSVButton = downloadables.getElementsByTagName('a')[0];
      var downloadJSONButton = downloadables.getElementsByTagName('button')[0];
      downloadCSVButton.onclick = function() {
        sendGAEvent('{{ dataset.name }}', '{{ dataset.resources[0].name }}', 'displayed data', 'CSV');
      }
      downloadJSONButton.onclick = function() {
        sendGAEvent('{{ dataset.name }}', '{{ dataset.resources[0].name }}', 'displayed data', 'JSON');
      }
    }
  }

  // Script for sending events data to Google Analytics
  function sendGAEvent(datasetName, resourceName, downloadType, resourceFormat) {
    gtag('event', 'download', {
      'event_category': datasetName,
      'event_label': resourceName,
      'downloaded data type': downloadType,
      'downloaded data format': resourceFormat
    });
  }
</script>

<!-- datastore-query-builder -->
<script type="text/javascript" src="https://raw.githack.com/datopian/datastore-query-builder/master/dist/js/runtime~main.js"></script>
<script type="text/javascript" src="https://raw.githack.com/datopian/datastore-query-builder/master/dist/js/2.js"></script>
<script type="text/javascript" src="https://raw.githack.com/datopian/datastore-query-builder/master/dist/js/main.js"></script>
<!-- datapackage-views-js -->
<script type="text/javascript" src="https://raw.githack.com/datopian/datapackage-views-js/master/dist/js/main.js"></script>

{% endblock %}
